.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.authApi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__okRnv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  flex-shrink: 0;
  height: 1em;
}
.freeBox__vi37B {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-Fv8-L_kN-2Ma);
  min-width: 0;
  padding: 8px;
}
.freeBox__j39Cj {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
  padding: 8px;
}
._switch:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-JDvyxAtm9ONK);
}
.text__z8T8G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-tM2Vh4zTir7U);
  font-weight: 400;
  min-width: 0;
}
.freeBox__phLNe {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__foiIa {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
  padding: 0px;
}
.passwordInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.repeatPassword:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__uRomq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___1Gj7T {
  padding-left: 0px;
}
.svg__waFl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
