.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.iframe:global(.__wab_instance) {
  animation: none;
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
