.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.apiGetService:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text___1KDa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__pf2La {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
  border-bottom: 1px solid var(--token-Y3HOiwZmAcAF);
}
.freeBox__b4E8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b4E8 {
    justify-content: center;
    align-items: center;
  }
}
.text__hyIx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14px;
  text-align: right;
  min-width: 0;
}
.text__aW4Sz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aW4Sz {
    text-align: center;
  }
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.button:global(.__wab_instance) {
  max-width: 100%;
}
.svg__dJ5Kv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__j842N {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.activationOfficeEditCostV2:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__sjhjj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #f1f5f9;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.text__elgbZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  min-width: 0;
}
