.hamyar {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: stretch;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 16px;
}
.hamyar > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hamyar > * {
    grid-column: 4;
  }
}
.freeBox__oijXs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 430px;
  height: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oijXs {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    display: flex;
  }
}
.freeBox__czEeg {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__czEeg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__czEeg > :global(.__wab_flex-container) > *,
.freeBox__czEeg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__czEeg > :global(.__wab_flex-container) > picture > img,
.freeBox__czEeg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.text__kQ0Le {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 700;
  min-width: 0;
}
.freeBox__pl5Bz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__pl5Bz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__pl5Bz > :global(.__wab_flex-container) > *,
.freeBox__pl5Bz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pl5Bz > :global(.__wab_flex-container) > picture > img,
.freeBox__pl5Bz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.radioGroup:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__ykcbS {
  position: relative;
  display: flex;
  flex-direction: row;
}
.freeBox__ykcbS > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__ykcbS > :global(.__wab_flex-container) > *,
.freeBox__ykcbS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ykcbS > :global(.__wab_flex-container) > picture > img,
.freeBox__ykcbS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.radio__sSrMo:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  width: auto;
}
.text__kvDqs {
  font-weight: 500;
}
.radio__h1Muf:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  width: auto;
}
.text__trXBc {
  font-weight: 500;
}
.mobile {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.mobile > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.mobile > :global(.__wab_flex-container) > *,
.mobile > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.mobile > :global(.__wab_flex-container) > picture > img,
.mobile
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__bZY8 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 500;
  min-width: 0;
}
.freeBox___19ZQb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___19ZQb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox___19ZQb > :global(.__wab_flex-container) > *,
.freeBox___19ZQb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___19ZQb > :global(.__wab_flex-container) > picture > img,
.freeBox___19ZQb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.hamyarCell:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  text-align: right;
  font-size: 13px;
  min-width: 0;
}
.text__iubqK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 13px;
  color: var(--token-CVFO6fzYsS1_);
  font-weight: 500;
  min-width: 0;
}
.button__uJfMi:global(.__wab_instance) {
  max-width: 100%;
}
.svg__lJnP {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__o8A69 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.mobile2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.mobile2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.mobile2 > :global(.__wab_flex-container) > *,
.mobile2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.mobile2 > :global(.__wab_flex-container) > picture > img,
.mobile2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__tjTai {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 500;
  min-width: 0;
}
.text__npXVl {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 500;
  min-width: 0;
}
.freeBox___2Jx4W {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___2Jx4W > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox___2Jx4W > :global(.__wab_flex-container) > *,
.freeBox___2Jx4W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2Jx4W > :global(.__wab_flex-container) > picture > img,
.freeBox___2Jx4W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.freeBox__dakYm {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__dakYm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__dakYm > :global(.__wab_flex-container) > *,
.freeBox__dakYm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dakYm > :global(.__wab_flex-container) > picture > img,
.freeBox__dakYm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.hamyarCellTell:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  text-align: right;
  font-size: 13px;
  min-width: 0;
}
.tellPrefix:global(.__wab_instance) {
  max-width: 100%;
}
.text__a87Rj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 13px;
  color: var(--token-CVFO6fzYsS1_);
  font-weight: 500;
  min-width: 0;
}
.button__qzHqT:global(.__wab_instance) {
  max-width: 100%;
}
.svg___8Bh80 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__qugN4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__vf37B {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 350px;
  height: 247px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    width: 350px;
  }
}
.text__hhWeF {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  margin-top: 0px;
  font-weight: 700;
  margin-bottom: 5px;
  min-width: 0;
}
.text__wxnOz {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  margin-top: 0px;
  font-weight: 400;
  font-size: 14px;
  min-width: 0;
}
.freeBox__rIFjx {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  min-width: 0;
}
.freeBox__rIFjx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__rIFjx > :global(.__wab_flex-container) > *,
.freeBox__rIFjx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rIFjx > :global(.__wab_flex-container) > picture > img,
.freeBox__rIFjx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.button__qv09P:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__phEl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ffffff;
}
.svg__aLnTr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__puBcs:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__qy4Ql {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__nZuvu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__gEg0 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  bottom: auto;
  min-width: 0;
  padding: 10px;
  border-top: 1px solid var(--token-Y3HOiwZmAcAF);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gEg0 {
    left: 0;
    top: auto;
    z-index: 1;
    position: fixed;
    width: 100%;
    right: 0;
    bottom: 0;
    background: #ffffff;
    min-width: 0;
    padding: 16px;
  }
}
.button__rOok:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__cKxMd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__u3I7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__o4BOn:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__s3XSi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__nBuBw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ig276 {
  object-fit: cover;
  max-width: 100%;
  width: 28px;
  color: var(--token-rjAIDXsTjJqJ);
  margin-top: 13px;
  margin-bottom: 13px;
  height: 1em;
  flex-shrink: 0;
}
.freeBox__q3018 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 8px;
}
.freeBox__q3018 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__q3018 > :global(.__wab_flex-container) > *,
.freeBox__q3018 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q3018 > :global(.__wab_flex-container) > picture > img,
.freeBox__q3018
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q3018 {
    display: flex;
  }
}
.svg___5EhRf {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 1em;
  flex-shrink: 0;
}
.text__n4G9D {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 400;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.user:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__rrpfJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  min-width: 0;
}
.freeBox__rrpfJ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__rrpfJ > :global(.__wab_flex-container) > *,
.freeBox__rrpfJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rrpfJ > :global(.__wab_flex-container) > picture > img,
.freeBox__rrpfJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.svg__taKo {
  object-fit: cover;
  max-width: 100%;
  width: 38px;
  height: 38px;
  flex-shrink: 0;
}
.text__ueFzU {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 500;
}
