.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-m74yTzJEHMEw));
  height: calc(100% + var(--token-m74yTzJEHMEw));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-m74yTzJEHMEw);
}
.info {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___80Vt4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  font-size: 16px;
  text-align: center;
  min-width: 0;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: var(--token-_c276Gs_1FIE);
}
.text__yJtin {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  font-size: 13px;
  font-weight: 100;
  text-align: center;
  min-width: 0;
  border-radius: var(--token-_c276Gs_1FIE);
}
.cost {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
}
.cost > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.cost > :global(.__wab_flex-container) > *,
.cost > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cost > :global(.__wab_flex-container) > picture > img,
.cost > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 4px;
}
.text__caEOo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  font-size: 16px;
  padding-top: 10px;
  min-width: 0;
  border-radius: var(--token-_c276Gs_1FIE);
}
.getAvgCost:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__gzXbt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox___3ZmJr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__yNy47 {
  width: auto;
  height: auto;
  max-width: 100%;
}
.svg__dhYv {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  flex-shrink: 0;
  height: 1em;
}
.text__tgUiU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__u6Wgq {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.select:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.input:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  text-align: right;
  min-width: 0;
}
.text__ttxM2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #2b2f3399;
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
}
.freeBox__tX33C {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__tX33C > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__tX33C > :global(.__wab_flex-container) > *,
.freeBox__tX33C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tX33C > :global(.__wab_flex-container) > picture > img,
.freeBox__tX33C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.text__xGPgA {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-jKWXB7hOHC63);
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 600;
}
.popover:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__jbhRr {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-jKWXB7hOHC63);
  height: 1em;
}
.freeBox__xAuVt {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #f1f5f9;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.text__h1CbF {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 12px;
  margin-top: 0px;
  min-width: 0;
}
.cardNum {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 10px;
  min-width: 0;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
}
.cardNum > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.cardNum > :global(.__wab_flex-container) > *,
.cardNum > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardNum > :global(.__wab_flex-container) > picture > img,
.cardNum
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__t2Jwi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  font-size: 16px;
  padding-top: 10px;
  min-width: 0;
  border-radius: var(--token-_c276Gs_1FIE);
}
.cardNumberInput:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ehiJx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__to9Es {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__g1CNf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.shabaApi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___1M61V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___2PFzS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__zJpZg {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Le07ngBUPl2h);
  font-weight: 300;
  font-size: 11px;
  min-width: 0;
}
.rules {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.checkbox:global(.__wab_instance) {
  max-width: 100%;
  align-self: auto;
}
.text___7Gvwt {
  font-weight: 400;
  font-size: 14px;
  font-family: var(--iran-sans-x);
  font-style: normal;
  color: #000000;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.freeBox__zaL {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__zaL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__zaL > :global(.__wab_flex-container) > *,
.freeBox__zaL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zaL > :global(.__wab_flex-container) > picture > img,
.freeBox__zaL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__s2LJk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__q9RwW {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
