.rules {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: flex-end;
  justify-content: flex-start;
  align-items: center;
  grid-row-gap: var(--token-vMUQwr5Jto1d);
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.rules > * {
  grid-column: 4;
}
.apiMe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___0Ylfp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__jgibh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__kRj {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  row-gap: var(--token-vMUQwr5Jto1d);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.banner {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: var(--token-N7E-iBLBGvbe);
  min-width: 0;
  min-height: 0;
  padding: var(--token-Fv8-L_kN-2Ma);
}
.img {
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.text__mpsbu {
  width: 100%;
  height: 100%;
  max-width: 100%;
  color: var(--token-yHtMhUE4LmGt);
  font-weight: 800;
  font-size: 23px;
  text-align: center;
  min-width: 0;
  min-height: 0;
}
.textRuls {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-QcxRWQfhgyJI);
}
.text__n2Zjg {
  font-weight: 400;
  font-size: 18px;
  text-align: justify;
}
.checkbox2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px 0px 8px 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.checkbox:global(.__wab_instance) {
  max-width: 100%;
  align-self: auto;
}
.freeBox__rqe3N {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
  margin: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rqe3N {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    min-width: 0;
  }
}
.text___9Kgkx {
  font-weight: 600;
  font-size: 18px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___9Kgkx {
    font-size: 15px;
    font-weight: 500;
    text-align: right;
  }
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__cd60 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__nRi8D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__clIyh {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-vMUQwr5Jto1d);
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__clIyh {
    display: flex;
    flex-direction: column;
    row-gap: var(--token-vMUQwr5Jto1d);
    column-gap: 0px;
  }
}
.button___99Mq0:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__e7S6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__u14Jv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__jnR06:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__neolx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__dROj {
  color: var(--token-qtgMaW0djcWt);
}
.svg__aBtyw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
