.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-HnZ71H022VEt);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__xmJsd {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-HnZ71H022VEt);
}
.radio__bLpVw:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__yt4CJ:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__nqsqn:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
