.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-W6cMLA0AZVBO);
  min-width: 0;
}
.apiGetPreferCost:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__wLYs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__ful68 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__luzj9 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: var(--iran-sans-x);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__dgT2D {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  flex-shrink: 0;
  height: 1em;
}
.text__eS4Oh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__btR8U {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.apiGetCost:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__siyGd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__y7Gpy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.apiGetVezaratCost:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__lMlxT {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__dUssV {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.svg__l6U {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  flex-shrink: 0;
  height: 1em;
}
.text___1CjMa {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
}
.text___0KWcW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  min-width: 0;
}
.select:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-qtgMaW0djcWt);
  min-width: 0;
}
.input:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__iGrNf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #2b2f3399;
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
}
.freeBox__ctU4T {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-fhaz6q6bl-fW);
  min-width: 0;
  padding: 8px;
}
.text__nmCrl {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-jKWXB7hOHC63);
  font-weight: 600;
}
.popover:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__abSgl {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-jKWXB7hOHC63);
  height: 1em;
}
.freeBox__wWxJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #f1f5f9;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.text__af2H8 {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ppfPw {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBox__z9Wr5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__t41Mh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.dialog2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__un9Ym {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-_T1cyz1fvJ5i);
  cursor: pointer;
  height: 1em;
}
.text___2QQl {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.input2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  align-self: flex-end;
  min-width: 0;
}
.freeBox__vkbvr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.shabaApi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.درحالدریافتاطلاعات {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__tETaU {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Le07ngBUPl2h);
  font-weight: 300;
  font-size: 11px;
  min-width: 0;
  padding: 8px;
}
.ruls {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.checkbox:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  align-self: auto;
}
.text__iZvNh {
  animation: none;
  font-weight: 400;
  font-size: 14px;
  font-family: var(--iran-sans-x);
  font-style: normal;
  color: #000000;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: ellipsis !important;
  overflow: hidden;
  width: 1000px;
}
.link {
  animation: none;
  width: auto;
  font-family: var(--iran-sans-x);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #0070f3;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__m8DPd {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__i99Hq {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-Fv8-L_kN-2Ma);
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i99Hq {
    display: flex;
    flex-direction: column;
    row-gap: var(--token-Fv8-L_kN-2Ma);
    column-gap: 0px;
  }
}
.button__pQjcb:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__pQjcb:global(.__wab_instance) {
    width: auto;
    height: 50px;
    flex-shrink: 0;
  }
}
.svg__qKtU4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5SuYy {
    padding: 20px;
  }
}
.svg__xW5Yx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__zySkf:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__zySkf:global(.__wab_instance) {
    width: auto;
    height: 50px;
    flex-shrink: 0;
  }
}
.svg__xyBZl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__zuRc6 {
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zuRc6 {
    padding: 10px;
  }
}
.svg__rHrA2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__pu6Aw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__iyBy {
    text-align: center;
  }
}
.freeBox__jLRvB {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__kiDc8 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kiDc8 {
    text-align: right;
    padding: 5px;
  }
}
.freeBox__un2Di {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__un2Di {
    display: flex;
    flex-direction: column;
    row-gap: var(--token-_c276Gs_1FIE);
    width: 300px;
    column-gap: 0px;
  }
}
.cancel:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__m0XRm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__vBiM6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__xQ4Vu:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__xQ4Vu:global(.__wab_instance) {
    width: auto;
    height: 50px;
    flex-shrink: 0;
  }
}
.svg__hllhB {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__cRbZ9 {
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cRbZ9 {
    padding: 10px;
  }
}
.svg__gyMwB {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.apiGetPaymentStatus:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__qsWtr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__rLI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
