.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-vMUQwr5Jto1d);
  min-width: 0;
}
.auth:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg___2LcMf {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 1em;
}
.profile:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__wpYan {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 1em;
}
.freeBox___7IsrU {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-vMUQwr5Jto1d);
  min-width: 0;
  padding: 0px;
}
.profilePersonalName:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__uaxwu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__jj6KA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 4px;
}
.nationalCode:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.freeBox__e78Wg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__oyYs7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 4px;
}
.medicalCode:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.freeBox__skXy5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__thjEv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 4px;
}
.profilePersonalPhoneNumber:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__gW35F {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__qRElM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 4px;
}
.drNotifyCell:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.apiNotifyCell:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__vBmQs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__l8Vrq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__loV48 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 4px;
}
.notifyCell:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.fragmentTextEditor:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__v9Rqn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: var(--token-4nkHJBlHYFDY);
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__o9Wc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__tF6R {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
