.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f1f5f9;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.apiGetCenter:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__vnrdN {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___7LKa8 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.svg__o1RUz {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  flex-shrink: 0;
  height: 1em;
}
.text__oQk8W {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__wXnUq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__wXnUq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__wXnUq > :global(.__wab_flex-container) > *,
.freeBox__wXnUq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wXnUq > :global(.__wab_flex-container) > picture > img,
.freeBox__wXnUq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.title {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.text__oQx1W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 16px;
  min-width: 0;
}
.description {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.text__qHybm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  min-width: 0;
  padding: 8px;
}
.newFeature {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.text___0El4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
  padding: 8px;
}
.text__tbtd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  min-width: 0;
  padding: 8px;
}
.newFeature2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.text__mxo3D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  min-width: 0;
  padding: 8px;
}
.text___2HJiD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  min-width: 0;
  padding: 8px;
}
.freeBox__nKyUz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-KrBMMqlPClZi);
  min-width: 0;
  padding: 8px;
}
.text___8142L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 15px;
  min-width: 0;
  padding: 8px;
}
.notice {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.buttons {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.button {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.button > :global(.__wab_flex-container) > *,
.button > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button > :global(.__wab_flex-container) > picture > img,
.button
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.full:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__aWEan {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__hpqVf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__cQEk {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.text__wnopK {
  width: auto;
}
.text__inuXu {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.text___81Jzx {
  width: auto;
}
.apiFinancials:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__kRwL {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__kp2Cw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__j5IU {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #fef9c3;
  min-width: 0;
  padding: 8px;
}
.text___9UHji {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  text-align: center;
  font-size: 15px;
  min-width: 0;
}
.button2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.button2 > :global(.__wab_flex-container) > *,
.button2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button2 > :global(.__wab_flex-container) > picture > img,
.button2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2 > :global(.__wab_flex-container) {
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 6px);
    height: calc(100% + 6px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2 > :global(.__wab_flex-container) > *,
  .button2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .button2 > :global(.__wab_flex-container) > picture > img,
  .button2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 6px;
  }
}
.getNow:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .getNow:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__bzrNx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__qlfd3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.getLater:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .getLater:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__x7NVa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__wPs2O {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.back {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 10px;
}
.button__qJ7O:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__cwyx7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ok2Ju {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialog2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.button__kDj16:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__u2K4I {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__cjiQ {
  padding-left: 0px;
}
.svg__gwUVu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__nc1R {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.text__kinYs {
  width: auto;
}
.text__jrNxj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.text__gftxT {
  width: auto;
}
.apiFinancials2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__ve8CS {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__kjbsf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__wfVql {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #fef9c3;
  min-width: 0;
  padding: 8px;
}
.text___8FdUv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  text-align: center;
  font-size: 15px;
  min-width: 0;
}
.button3 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.button3 > :global(.__wab_flex-container) > *,
.button3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button3 > :global(.__wab_flex-container) > picture > img,
.button3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button3 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .button3 > :global(.__wab_flex-container) {
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 6px);
    height: calc(100% + 6px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .button3 > :global(.__wab_flex-container) > *,
  .button3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .button3 > :global(.__wab_flex-container) > picture > img,
  .button3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 6px;
  }
}
.getNow2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .getNow2:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__wImam {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__fdfIk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.getLater2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .getLater2:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg___997R {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__a5T2N {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.back2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 10px;
}
.button__fK1Zw:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__iE4Xk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___2MUEc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialog3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.button__g2PDv:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__nmQx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__knpsx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__ujGLv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ujGLv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__ujGLv > :global(.__wab_flex-container) > *,
.freeBox__ujGLv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ujGLv > :global(.__wab_flex-container) > picture > img,
.freeBox__ujGLv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.text__wxpPj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox__jfEgh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #e2e8f0;
}
.input:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  text-align: right;
  min-width: 0;
}
.button__pfAoT:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__p11S0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___459Gy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
