.workhoursPage {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  padding-right: 50px;
  padding-left: 50px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.workhoursPage > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .workhoursPage {
    padding-right: 5px;
    padding-left: 5px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .workhoursPage > * {
    grid-column: 4;
  }
}
.freeBox__d4Ycy {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  row-gap: var(--token-fhaz6q6bl-fW);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.apIworkhours:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__vTc3O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vTc3O {
    display: none;
  }
}
.text__dggG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox___9HgIy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 100%;
  column-gap: var(--token-vMUQwr5Jto1d);
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9HgIy {
    justify-content: space-between;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    column-gap: var(--token-vMUQwr5Jto1d);
    row-gap: 0px;
  }
}
.text___2TFhG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___2TFhG {
    display: none;
  }
}
.drCenters:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .drCenters:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__lw8Cb {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.hoursDaysOfWeek:global(.__wab_instance) {
  max-width: 100%;
}
.vacation {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  row-gap: 10px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px 0px;
}
.freeBox___0YkBo {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 100%;
  row-gap: var(--token-vMUQwr5Jto1d);
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.text__p3Plx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  min-width: 0;
  padding: 8px;
}
.text__vKqZd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-JBHzVzLE2EH-);
  min-width: 0;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid var(--token-FYMcrU9VrfJP);
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 190px;
  align-self: flex-end;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg___9UYmk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__xPR9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.runCodeGtmMetrica:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.gtm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
