.hamyar {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.hamyar > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hamyar > * {
    grid-column: 4;
  }
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__fnFai {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__pSuk0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__oOzfc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__oOzfc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__oOzfc > :global(.__wab_flex-container) > *,
.freeBox__oOzfc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oOzfc > :global(.__wab_flex-container) > picture > img,
.freeBox__oOzfc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oOzfc {
    margin: 8px;
  }
}
.freeBox__yg021 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 8px;
  border: 1px solid var(--token-fHO1HdnTb-43);
}
.text__rE7Sn {
  font-weight: 800;
}
.text__nSJbZ {
  font-weight: 600;
}
.freeBox__rAaHq {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__rAaHq > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 1px);
  width: calc(100% + 1px);
}
.freeBox__rAaHq > :global(.__wab_flex-container) > *,
.freeBox__rAaHq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rAaHq > :global(.__wab_flex-container) > picture > img,
.freeBox__rAaHq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 1px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rAaHq {
    display: flex;
    flex-direction: row;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rAaHq > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    margin-left: calc(0px - 5px);
    width: calc(100% + 5px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rAaHq > :global(.__wab_flex-container) > *,
  .freeBox__rAaHq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rAaHq > :global(.__wab_flex-container) > picture > img,
  .freeBox__rAaHq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 5px;
    margin-top: 0px;
  }
}
.freeBox__ny25R {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
  height: 100px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #eff6ff80;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ny25R {
    width: 130px;
    height: 120px;
    flex-shrink: 0;
    padding: 3px;
  }
}
.text__ecVqI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  min-width: 0;
  border-radius: 8px;
}
.freeBox__nkZmb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
  height: 100px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #eff6ff80;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nkZmb {
    width: 130px;
    height: 120px;
    flex-shrink: 0;
    padding: 3px;
  }
}
.text__en82O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  min-width: 0;
  border-radius: 8px;
}
.freeBox___4BM1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
  height: 100px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #eff6ff80;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4BM1 {
    width: 130px;
    height: 120px;
    flex-shrink: 0;
    padding: 3px;
  }
}
.text__c6Tgs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  min-width: 0;
  border-radius: 8px;
}
.freeBox__czEeg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__czEeg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__czEeg > :global(.__wab_flex-container) > *,
.freeBox__czEeg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__czEeg > :global(.__wab_flex-container) > picture > img,
.freeBox__czEeg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__czEeg {
    margin: 8px;
  }
}
.text__kQ0Le {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 500;
  min-width: 0;
}
.freeBox___19ZQb {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___19ZQb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox___19ZQb > :global(.__wab_flex-container) > *,
.freeBox___19ZQb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___19ZQb > :global(.__wab_flex-container) > picture > img,
.freeBox___19ZQb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.hamyarCell:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  text-align: right;
  font-size: 13px;
  min-width: 0;
}
.button__uJfMi:global(.__wab_instance) {
  max-width: 100%;
}
.svg__akUt1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__au5C5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__gEg0 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gEg0 {
    left: auto;
    top: auto;
    z-index: 1;
    position: relative;
    right: auto;
    bottom: auto;
    width: 100%;
    min-width: 0;
  }
}
.button__rOok:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__zup09 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__nmFyT {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
