.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-jKWXB7hOHC63);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-LucEawn4kec5);
  font-family: var(--token-ja_KZBrPIbVn);
  font-size: var(--token-32QMMwxFz4kW);
  line-height: var(--token-ACWd1l8gAAiC);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-K62Mx1xnSMbY);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-XGBI8X8eqLgR);
  outline-offset: 1px;
  outline-color: var(--token-jKWXB7hOHC63);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-t6UZL9yA9o_L);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-asw1kyhN8xsP);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-ObyCjzD1tU4D);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-kz6WQksJL186);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-CVFO6fzYsS1_);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-Ob-x3gnw5fOV);
  font-size: var(--token-eNrdreaV-yyE);
  column-gap: var(--token-XGBI8X8eqLgR);
  row-gap: 0px;
  border-radius: var(--token-HnZ71H022VEt);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-eNrdreaV-yyE);
  line-height: var(--token-Ob-x3gnw5fOV);
  column-gap: var(--token-HnZ71H022VEt);
  row-gap: 0px;
  border-radius: var(--token-HnZ71H022VEt);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-Aauc__D_kWJe);
  line-height: var(--token-6V66fqRxwJUw);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-Aauc__D_kWJe);
  line-height: var(--token-6V66fqRxwJUw);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-fpvOpRJwHyvv);
  border-radius: var(--token-K62Mx1xnSMbY);
}
.softBackgroundcolor_neutral {
  background: var(--token-_oWwhXE_jgOI);
}
.softBackgroundcolor_muted {
  background: var(--token-759-ajT7kwoy);
}
.softBackgroundcolor_success {
  background: var(--token-ojrqV6IUkJfZ);
}
.softBackgroundcolor_warning {
  background: var(--token-BfvcrLHG9n-x);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-bQk-2l1t19zu);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-K62Mx1xnSMbY);
  border: 0px solid var(--token-FYMcrU9VrfJP);
}
.bordercolor_neutral {
  border-color: var(--token-A8YWDGgZYvMi);
}
.bordercolor_muted {
  border-color: var(--token-jJcgowC7nahv);
}
.bordercolor_success {
  border-color: var(--token-vgPd41zGmnfR);
}
.bordercolor_warning {
  border-color: var(--token-4dSuL0zxfY1p);
}
.bordercolor_errorDestructive {
  border-color: var(--token-LgKZT8qSszvR);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-K62Mx1xnSMbY);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-M1yPifES3o0Y);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-Ru4IUAhSMxWE);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-K_jGQFgNaluF);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__iTuNu {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-K62Mx1xnSMbY) var(--token-WqCI7rtGEVnf);
}
.freeBox__iTuNu > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-K62Mx1xnSMbY));
  width: calc(100% + var(--token-K62Mx1xnSMbY));
}
.freeBox__iTuNu > :global(.__wab_flex-container) > *,
.freeBox__iTuNu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iTuNu > :global(.__wab_flex-container) > picture > img,
.freeBox__iTuNu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-K62Mx1xnSMbY);
}
.freeBoxsize_extraSmall__iTuNuLoOyW {
  padding: var(--token-HnZ71H022VEt) var(--token-K62Mx1xnSMbY);
}
.freeBoxsize_small__iTuNut70P {
  padding: var(--token-K62Mx1xnSMbY) var(--token-LucEawn4kec5);
}
.freeBoxsize_large__iTuNUpg7U8 {
  padding-top: var(--token-HnZ71H022VEt);
  padding-bottom: var(--token-HnZ71H022VEt);
}
.freeBoxsize_extraLarge__iTuNuBaulG {
  padding-left: var(--token-lU3o3qU6w5R8);
  padding-right: var(--token-lU3o3qU6w5R8);
}
.freeBoxroundedFull__iTuNUnOgNg {
  padding-right: var(--token-lU3o3qU6w5R8);
  padding-left: var(--token-lU3o3qU6w5R8);
}
.freeBox__z0Bve {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__z0Bveik6Wu {
  display: flex;
}
.slotTargetStart {
  color: var(--token-JBHzVzLE2EH-);
}
.slotTargetStartcolor_neutral {
  color: var(--token-9DtcYsMC5erZ);
}
.slotTargetStartcolor_muted {
  color: var(--token-fHO1HdnTb-43);
}
.slotTargetStartcolor_success {
  color: var(--token-BfIAO5g14OkG);
}
.slotTargetStartcolor_warning {
  color: var(--token-dTdX27AVIEt3);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-Ap8cq4H8I8OO);
}
.slotTargetStarttype_soft {
  color: var(--token-b3FPLKkWNM10);
}
.slotTargetStarttype_bordered {
  color: var(--token-b3FPLKkWNM10);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-eNrdreaV-yyE);
}
.slotTargetStartsize_small {
  font-size: var(--token-eNrdreaV-yyE);
}
.slotTargetStartsize_large {
  font-size: var(--token-Aauc__D_kWJe);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-Aauc__D_kWJe);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-1Kk14g8L3Gpy);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-1Kk14g8L3Gpy);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-QqI3eInTAB2b);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-QqI3eInTAB2b);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-36UgPV8VUajQ);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-36UgPV8VUajQ);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-m3G-Do5Dk-g5);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-m3G-Do5Dk-g5);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-Kx_2gJH7s8ET);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-Kx_2gJH7s8ET);
}
.svg___8VxCr {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-JBHzVzLE2EH-);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-9DtcYsMC5erZ);
}
.slotTargetLabelcolor_muted {
  color: var(--token-fHO1HdnTb-43);
}
.slotTargetLabelcolor_success {
  color: var(--token-BfIAO5g14OkG);
}
.slotTargetLabelcolor_warning {
  color: var(--token-dTdX27AVIEt3);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-Ap8cq4H8I8OO);
}
.slotTargetLabeltype_soft {
  color: var(--token-b3FPLKkWNM10);
}
.slotTargetLabeltype_bordered {
  color: var(--token-b3FPLKkWNM10);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-1Kk14g8L3Gpy);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-QqI3eInTAB2b);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-1Kk14g8L3Gpy);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-36UgPV8VUajQ);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-QqI3eInTAB2b);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-m3G-Do5Dk-g5);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-36UgPV8VUajQ);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-Kx_2gJH7s8ET);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-m3G-Do5Dk-g5);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-Kx_2gJH7s8ET);
}
.text__js0Kg {
  white-space: pre;
}
.freeBox__iuKbS {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__iuKbSfdIu {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-JBHzVzLE2EH-);
}
.slotTargetEndcolor_neutral {
  color: var(--token-9DtcYsMC5erZ);
}
.slotTargetEndcolor_muted {
  color: var(--token-fHO1HdnTb-43);
}
.slotTargetEndcolor_success {
  color: var(--token-BfIAO5g14OkG);
}
.slotTargetEndcolor_warning {
  color: var(--token-dTdX27AVIEt3);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-Ap8cq4H8I8OO);
}
.slotTargetEndtype_soft {
  color: var(--token-b3FPLKkWNM10);
}
.slotTargetEndtype_bordered {
  color: var(--token-b3FPLKkWNM10);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-eNrdreaV-yyE);
}
.slotTargetEndsize_small {
  font-size: var(--token-eNrdreaV-yyE);
}
.slotTargetEndsize_large {
  font-size: var(--token-Aauc__D_kWJe);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-Aauc__D_kWJe);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-1Kk14g8L3Gpy);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-1Kk14g8L3Gpy);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-QqI3eInTAB2b);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-QqI3eInTAB2b);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-36UgPV8VUajQ);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-36UgPV8VUajQ);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-m3G-Do5Dk-g5);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-m3G-Do5Dk-g5);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-Kx_2gJH7s8ET);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-Kx_2gJH7s8ET);
}
.svg__kQ0U {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
