.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f1f5f9;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.apiGetCenter:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___4GwXu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__a9Xo {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.svg__s8W2X {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  flex-shrink: 0;
  height: 1em;
}
.text___1Tu2B {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__lu1Oc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__lu1Oc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__lu1Oc > :global(.__wab_flex-container) > *,
.freeBox__lu1Oc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lu1Oc > :global(.__wab_flex-container) > picture > img,
.freeBox__lu1Oc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lu1Oc {
    padding: 5px;
  }
}
.title {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.text__jXbpD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 16px;
  min-width: 0;
}
.description {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.text__l0R27 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  min-width: 0;
  padding: 8px;
}
.newFeature {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.text___3YnAs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
  padding: 8px;
}
.text__qcXkG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  min-width: 0;
  padding: 8px;
}
.notice {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.buttons {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttons {
    padding: 0px;
  }
}
.button {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.button > :global(.__wab_flex-container) > *,
.button > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button > :global(.__wab_flex-container) > picture > img,
.button
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
@media (min-width: 0px) and (max-width: 768px) {
  .button {
    padding: 0px;
  }
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.full:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__cr4Ff {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xy5Sy {
    font-size: 14px;
    text-align: center;
  }
}
.svg__kqfdr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__f2NOu {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.text__rlnin {
  width: auto;
}
.text___7NmMy {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.text__qqBr {
  width: auto;
}
.apiFinancials:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__iB7C6 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__hOjsX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--iran-sans-x);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
  display: none;
}
.freeBox__wnusd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #fef9c3;
  min-width: 0;
  padding: 8px;
}
.text__aPV4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 15px;
  min-width: 0;
}
.button2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.button2 > :global(.__wab_flex-container) > *,
.button2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button2 > :global(.__wab_flex-container) > picture > img,
.button2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2 > :global(.__wab_flex-container) {
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 6px);
    height: calc(100% + 6px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2 > :global(.__wab_flex-container) > *,
  .button2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .button2 > :global(.__wab_flex-container) > picture > img,
  .button2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 6px;
  }
}
.getNow:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .getNow:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__et5Y1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__bvd98 {
  font-family: var(--iran-sans-x);
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 700;
  font-style: normal;
  color: #ededec;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__jpcB {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.getLater:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .getLater:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__mniiX {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__bQZk3 {
  font-family: var(--iran-sans-x);
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 700;
  font-style: normal;
  color: #46453e;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__xIfnd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__etFxi {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__pUs9T:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__dRc34 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___41P7Y {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialog3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.button__eKl0:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__x6Kf3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ekmPy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__mqBtP {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__mqBtP > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__mqBtP > :global(.__wab_flex-container) > *,
.freeBox__mqBtP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mqBtP > :global(.__wab_flex-container) > picture > img,
.freeBox__mqBtP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.text__vSnV7 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox__mbR1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #e2e8f0;
}
.input:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  text-align: right;
  min-width: 0;
}
.button__s2Lll:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__wdv2U {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__bIrZm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.runCodeGtmMetrica:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.gtm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
