.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__b4Jda {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 8px;
}
.freeBox___62Ig {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-N7E-iBLBGvbe);
  min-width: 0;
  padding: 8px;
}
.text___2NtI5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 900;
  font-size: 16px;
  text-align: center;
  color: var(--token-yHtMhUE4LmGt);
  min-width: 0;
}
.now {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___4LxA9 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-jgohepLVeKvh);
}
.svg___4QpBx {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: var(--token-jgohepLVeKvh);
  flex-shrink: 0;
}
.svg__jKySg {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: var(--token-yHtMhUE4LmGt);
  flex-shrink: 0;
}
.freeBox__rdnfG {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #3f40791a;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-VeLONbiJQakl);
}
.freeBox__rdnfG > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__rdnfG > :global(.__wab_flex-container) > *,
.freeBox__rdnfG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rdnfG > :global(.__wab_flex-container) > picture > img,
.freeBox__rdnfG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.all2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #3f407905;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-N7E-iBLBGvbe);
}
.all {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 800;
  min-width: 0;
}
.text__jhsXx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.paid {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #3f407905;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-N7E-iBLBGvbe);
}
.paid2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 800;
  min-width: 0;
}
.text__sr1Cx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__feQhK {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__feQhK > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-W6cMLA0AZVBO));
  width: calc(100% + var(--token-W6cMLA0AZVBO));
}
.freeBox__feQhK > :global(.__wab_flex-container) > *,
.freeBox__feQhK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__feQhK > :global(.__wab_flex-container) > picture > img,
.freeBox__feQhK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-W6cMLA0AZVBO);
}
.setting:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.svg__onZl1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__cb3E3 {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.svg__ppcrz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.requestToPay:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__tFo2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__s1W0Y {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__xqJiq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__xqJiq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-W6cMLA0AZVBO));
  height: calc(100% + var(--token-W6cMLA0AZVBO));
}
.freeBox__xqJiq > :global(.__wab_flex-container) > *,
.freeBox__xqJiq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xqJiq > :global(.__wab_flex-container) > picture > img,
.freeBox__xqJiq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-W6cMLA0AZVBO);
}
.ask {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.checkbox:global(.__wab_instance) {
  max-width: 100%;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__zwNCr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__z9AHh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.apiRequestforGetUserPrefrence:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__j6UpV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__bD5Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__x4IL {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__lTutQ {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__lTutQ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-vMUQwr5Jto1d));
  width: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__lTutQ > :global(.__wab_flex-container) > *,
.freeBox__lTutQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lTutQ > :global(.__wab_flex-container) > picture > img,
.freeBox__lTutQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-vMUQwr5Jto1d);
}
.button__z8Edl:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__eq4X {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__x5J5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__aDszq:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___3GkdT {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__fiZm5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.apiRequestForGetDetailsPayment:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__s40NR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__l2O1V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
