.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.freeBox__coCru {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__coCru > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__coCru > :global(.__wab_flex-container) > *,
.freeBox__coCru > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__coCru > :global(.__wab_flex-container) > picture > img,
.freeBox__coCru
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.freeBox__p3Mdz {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__p3Mdz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__p3Mdz > :global(.__wab_flex-container) > *,
.freeBox__p3Mdz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p3Mdz > :global(.__wab_flex-container) > picture > img,
.freeBox__p3Mdz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.text___9HMe {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  font-weight: 600;
}
.text__im41R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
}
.centersApi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__l84Dy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.svg__kUErt {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.text__q12TZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
}
.drCenters:global(.__wab_instance) {
  max-width: 100%;
}
.addVocationDialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.button__rwvhc:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__oKyrr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  min-width: 0;
}
.svg__s8Zhz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__rUim5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__esgU9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.dateRangePicker:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__gtp5T {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: var(--token-_c276Gs_1FIE);
  min-width: 0;
  padding: 0px;
}
.freeBox__gtp5T > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__gtp5T > :global(.__wab_flex-container) > *,
.freeBox__gtp5T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gtp5T > :global(.__wab_flex-container) > picture > img,
.freeBox__gtp5T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.text__vZrMz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  text-align: center;
  cursor: pointer;
  min-width: 0;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: var(--token-_c276Gs_1FIE);
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.text__uDmX2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  text-align: center;
  cursor: pointer;
  min-width: 0;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: var(--token-_c276Gs_1FIE);
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.freeBox__vCfSi {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.checkbox:global(.__wab_instance) {
  max-width: 100%;
}
.text__whniE {
  color: var(--token-u3OudfMChOo3);
  font-size: var(--token-6NbVMeD6zQwn);
  cursor: pointer;
}
.button__eKdDh:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___5WieK {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___3PMhF {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__r1Pkt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 0px;
}
.text___37X29 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
}
.freeBox__rjW9A {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__rjW9A > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__rjW9A > :global(.__wab_flex-container) > *,
.freeBox__rjW9A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rjW9A > :global(.__wab_flex-container) > picture > img,
.freeBox__rjW9A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.year:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.month:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.vacationApi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__rvYZl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__lxDgP {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.text__qU1YR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  text-align: center;
  min-width: 0;
}
.freeBox__wzSnE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 20rem;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: 8px;
  border: 1px solid #d3d3d3;
}
.text__zEsQz {
  position: relative;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
}
.freeBox__pQyuJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 21rem;
  max-width: 100%;
  overflow-x: visible;
  overflow-y: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox__pQyuJ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__pQyuJ > :global(.__wab_flex-container) > *,
.freeBox__pQyuJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pQyuJ > :global(.__wab_flex-container) > picture > img,
.freeBox__pQyuJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.freeBox__dc1Y {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 6rem;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: var(--token-Fv8-L_kN-2Ma);
  border: 1px solid #d3d3d3;
}
.freeBox__dc1Y > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__dc1Y > :global(.__wab_flex-container) > *,
.freeBox__dc1Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dc1Y > :global(.__wab_flex-container) > picture > img,
.freeBox__dc1Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.freeBox__zhCmD {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
}
.text__hPbEr {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  font-size: var(--token-6NbVMeD6zQwn);
}
.text___28Ia {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-VrIY9r5RDQZ_);
  color: var(--token-u3OudfMChOo3);
}
.freeBox__vvyn9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__vvyn9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - var(--token-Fv8-L_kN-2Ma));
  height: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__vvyn9 > :global(.__wab_flex-container) > *,
.freeBox__vvyn9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vvyn9 > :global(.__wab_flex-container) > picture > img,
.freeBox__vvyn9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Fv8-L_kN-2Ma);
}
.svg__yOhmm {
  object-fit: cover;
  max-width: 100%;
  cursor: pointer;
  height: 1em;
  flex-shrink: 0;
}
.svg___8IMu {
  object-fit: cover;
  max-width: 100%;
  cursor: pointer;
  height: 1em;
  flex-shrink: 0;
}
.errorDialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__o8Zyk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__o8Zyk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__o8Zyk > :global(.__wab_flex-container) > *,
.freeBox__o8Zyk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o8Zyk > :global(.__wab_flex-container) > picture > img,
.freeBox__o8Zyk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.text__fb8Az {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.text__hn28D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: var(--token-W6cMLA0AZVBO) !important;
  background: var(--token-BU1JCAY6hntB);
  color: var(--token-u3OudfMChOo3);
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: var(--token-Fv8-L_kN-2Ma);
}
.freeBox__fYxVg {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__fYxVg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__fYxVg > :global(.__wab_flex-container) > *,
.freeBox__fYxVg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fYxVg > :global(.__wab_flex-container) > picture > img,
.freeBox__fYxVg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.button__romfO:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__ulfsx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__thyUh {
  padding-bottom: 0px;
}
.svg__wd957 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__djAfO:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__cVRgp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___7MZ8F {
  padding-bottom: 0px;
}
.svg__jPhc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.changeDateDialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__v9WaA {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__v9WaA > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__v9WaA > :global(.__wab_flex-container) > *,
.freeBox__v9WaA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v9WaA > :global(.__wab_flex-container) > picture > img,
.freeBox__v9WaA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.text__dhi47 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__qMfdl {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__qMfdl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__qMfdl > :global(.__wab_flex-container) > *,
.freeBox__qMfdl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qMfdl > :global(.__wab_flex-container) > picture > img,
.freeBox__qMfdl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.text__y8Ykp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  text-align: center;
  cursor: pointer;
  min-width: 0;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: var(--token-Fv8-L_kN-2Ma);
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.text__kI4Xy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  text-align: center;
  cursor: pointer;
  min-width: 0;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: var(--token-Fv8-L_kN-2Ma);
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.text__gsPOp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__vIp1U:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___6Awu3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__weDuF {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.selectDate:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__ahm6J {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ahm6J > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__ahm6J > :global(.__wab_flex-container) > *,
.freeBox__ahm6J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ahm6J > :global(.__wab_flex-container) > picture > img,
.freeBox__ahm6J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.datePicker:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__gGfXg:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__bbt7U {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__thb69 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.selectTime:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__oZPy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__oZPy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__oZPy > :global(.__wab_flex-container) > *,
.freeBox__oZPy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oZPy > :global(.__wab_flex-container) > picture > img,
.freeBox__oZPy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.timePicker:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button___5AhZc:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__v6Gva {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__bidoj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.deleteDialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___9UkGr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___9UkGr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-Fv8-L_kN-2Ma));
  height: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox___9UkGr > :global(.__wab_flex-container) > *,
.freeBox___9UkGr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9UkGr > :global(.__wab_flex-container) > picture > img,
.freeBox___9UkGr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Fv8-L_kN-2Ma);
}
.text___59HW1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-u3OudfMChOo3);
  min-width: 0;
}
.freeBox__siU1P {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__siU1P > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__siU1P > :global(.__wab_flex-container) > *,
.freeBox__siU1P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__siU1P > :global(.__wab_flex-container) > picture > img,
.freeBox__siU1P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.button__dvvA1:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__gIxyX {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__uhkgK {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__lm6LO:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__t4Baj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__z4LYt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.editDialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__w6Swm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.dateRangePicker2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__cnac {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: var(--token-_c276Gs_1FIE);
  min-width: 0;
  padding: 0px;
}
.freeBox__cnac > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__cnac > :global(.__wab_flex-container) > *,
.freeBox__cnac > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cnac > :global(.__wab_flex-container) > picture > img,
.freeBox__cnac
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.text___8BHs3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  text-align: center;
  cursor: pointer;
  min-width: 0;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: var(--token-_c276Gs_1FIE);
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.text__ikMmY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  text-align: center;
  cursor: pointer;
  min-width: 0;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: var(--token-_c276Gs_1FIE);
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.freeBox__fxWyW {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.checkbox2:global(.__wab_instance) {
  max-width: 100%;
}
.text__h7IJy {
  color: var(--token-u3OudfMChOo3);
  font-size: var(--token-6NbVMeD6zQwn);
  cursor: pointer;
}
.button__ngzhi:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__r2Pxn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__rBmXz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
