.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  cursor: pointer;
  border-top-style: none;
  border-top-width: 2px;
  min-width: 0;
  padding: 8px;
  border-bottom: 2px solid #e0e0e0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: column;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-radius: 8px;
    border-color: #e0e0e0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.rootonlineBorder {
  border-top-style: solid;
  border-bottom-width: 2px;
  border-top-width: 2px;
  background: #f1f5f980;
}
.text__e542H {
  position: relative;
  font-weight: 700;
  font-size: var(--token-fwZvoB_ZCfwn);
  align-self: center;
  color: var(--token-iWQmILTzm3N0);
  text-align: center;
  height: auto;
  width: auto;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__e542H {
    display: none;
  }
}
.textonlineBorder__e542H5Rn5G {
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  align-self: center;
}
.text__sMwi1 {
  position: relative;
  font-weight: 600;
  width: 155px;
  text-align: center;
  font-size: 14px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sMwi1 {
    display: none;
  }
}
.text__aGdOv {
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 500;
  text-align: center;
  width: 100px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aGdOv {
    width: 60px;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: calc(2px + 0px) !important;
    display: none;
  }
}
.text__s6Ouh {
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 400;
  width: 100px;
  text-align: center;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__s6Ouh {
    display: none;
  }
}
.freeBox__kYxN2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.text__r7ZrR {
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 400;
  width: 80px;
}
.text__okPe8 {
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 400;
  width: 80px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__okPe8 {
    display: none;
  }
}
.text__bh3Py {
  position: relative;
  font-weight: 600;
  width: 120px;
  font-size: 12px;
  color: #16a34a;
  text-align: center;
  flex-shrink: 0;
}
.text__nIqph {
  position: relative;
  font-weight: 300;
  width: 120px;
  font-size: 12px;
  color: var(--token-4nkHJBlHYFDY);
  text-align: center;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nIqph {
    display: none;
  }
}
.text__q3Vgc {
  position: relative;
  font-weight: 400;
  width: 120px;
  font-size: 12px;
  color: var(--token-CVFO6fzYsS1_);
  text-align: center;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__q3Vgc {
    display: none;
  }
}
.text__fI72E {
  position: relative;
  font-weight: 500;
  width: 120px;
  font-size: 12px;
  color: var(--token-CVFO6fzYsS1_);
  text-align: center;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fI72E {
    display: none;
  }
}
.text__z3UR {
  position: relative;
  font-weight: 600;
  width: 120px;
  font-size: 12px;
  color: var(--token-CVFO6fzYsS1_);
  text-align: center;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__z3UR {
    display: none;
  }
}
.freeBox__d5Nij {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d5Nij {
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid #e0e0e0;
  }
}
.freeBox___7Os85 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Os85 {
    width: auto;
    justify-content: center;
    align-items: center;
  }
}
.svg__oEqht {
  object-fit: cover;
  max-width: 24px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__oEqht {
    display: block;
  }
}
.text__uypUq {
  font-weight: 800;
  width: auto;
}
.freeBox___9MLBi {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 8px;
}
.freeBox___9MLBi > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9MLBi {
    width: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9MLBi > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 2px);
    width: calc(100% + 2px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9MLBi > :global(.__wab_flex-container) > *,
  .freeBox___9MLBi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___9MLBi > :global(.__wab_flex-container) > picture > img,
  .freeBox___9MLBi
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 2px;
    margin-top: 0px;
  }
}
.freeBoxonlineBorder___9MLBi5Rn5G {
  position: relative;
  top: auto;
  left: auto;
  align-self: center;
}
.svg__kSQH {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-jKWXB7hOHC63);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__kSQH {
    display: block;
  }
}
.text__spiDa {
  font-weight: 800;
  font-size: var(--token-hYndcje43OGL);
  color: var(--token-jKWXB7hOHC63);
  text-align: center;
  width: auto;
  height: auto;
}
.textonlineBorder__spiDa5Rn5G {
  width: auto;
  height: auto;
}
.freeBox__k1Ytc {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__k1Ytc {
    justify-content: space-between;
    display: flex;
  }
}
.text__jeWLc {
  width: auto;
  height: auto;
  max-width: 100%;
  color: #616161;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jeWLc {
    display: block;
  }
}
.text__e0SFd {
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 600;
}
.freeBox__dsw1G {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dsw1G {
    justify-content: space-between;
    display: flex;
  }
}
.text__g1Htr {
  width: auto;
  height: auto;
  max-width: 100%;
  color: #616161;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__g1Htr {
    display: block;
  }
}
.text__rntl1 {
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 600;
}
.freeBox___9IE3Z {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9IE3Z {
    justify-content: space-between;
    display: flex;
  }
}
.text___8GskM {
  width: auto;
  height: auto;
  max-width: 100%;
  color: #616161;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___8GskM {
    display: block;
  }
}
.text___9Tmx7 {
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 600;
}
.freeBox__oaKqB {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oaKqB {
    justify-content: space-between;
    display: flex;
  }
}
.text__eTltx {
  width: auto;
  height: auto;
  max-width: 100%;
  color: #616161;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__eTltx {
    display: block;
  }
}
.text__vdzg {
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 600;
}
.freeBox__seUTg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__seUTg {
    justify-content: space-between;
    display: flex;
  }
}
.text__zlJnk {
  width: auto;
  height: auto;
  max-width: 100%;
  color: #616161;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zlJnk {
    display: block;
  }
}
.text__uOFD {
  position: relative;
  font-weight: 600;
  width: 70px;
  font-size: 12px;
  color: #16a34a;
  flex-shrink: 0;
}
.text__uc8T3 {
  position: relative;
  font-weight: 300;
  width: 70px;
  font-size: 12px;
  color: var(--token-4nkHJBlHYFDY);
  flex-shrink: 0;
}
.text___1QPgH {
  position: relative;
  font-weight: 400;
  width: 70px;
  font-size: 12px;
  color: var(--token-CVFO6fzYsS1_);
  flex-shrink: 0;
}
.text__ttc07 {
  position: relative;
  font-weight: 500;
  width: auto;
  font-size: 12px;
  color: var(--token-CVFO6fzYsS1_);
}
.text__gAZjp {
  position: relative;
  font-weight: 600;
  width: auto;
  font-size: 12px;
  color: #dc2626;
}
.text__kdznH {
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kdznH {
    display: none;
  }
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .dialog:global(.__wab_instance):global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.freeBox__w3Skv {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__w3Skv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__w3Skv > :global(.__wab_flex-container) > *,
.freeBox__w3Skv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w3Skv > :global(.__wab_flex-container) > picture > img,
.freeBox__w3Skv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w3Skv {
    display: none;
  }
}
.freeBox__oZk8G {
  display: block;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  max-width: 100%;
  background: var(--token-pi_amP1jS-3_);
  flex-shrink: 0;
  border-radius: var(--token-fhaz6q6bl-fW);
  padding: 8px;
  border: 2px solid #27bda0;
}
.freeBoxonlineBorder__oZk8G5Rn5G {
  display: block;
  border-color: #27bda0;
}
.freeBox__q4TDk {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0px;
}
.freeBoxonlineBorder__q4TDk5Rn5G {
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
  align-items: center;
  justify-content: center;
  right: 0;
  bottom: 0;
  width: auto;
  padding: 0px;
}
.text__d7UBi {
  position: relative;
  font-weight: 600;
  font-size: var(--token-6NbVMeD6zQwn);
  align-self: center;
  color: var(--token-iWQmILTzm3N0);
  text-align: center;
  left: auto;
  top: auto;
  width: auto;
  height: auto;
}
.textonlineBorder__d7UBi5Rn5G {
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  align-self: center;
}
.freeBox__rHcsh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__rHcsh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-fhaz6q6bl-fW));
  height: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__rHcsh > :global(.__wab_flex-container) > *,
.freeBox__rHcsh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rHcsh > :global(.__wab_flex-container) > picture > img,
.freeBox__rHcsh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-fhaz6q6bl-fW);
}
.text__lqNfE {
  position: relative;
  font-weight: 500;
  width: 150px;
}
.freeBox__rChaj {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__rChaj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__rChaj > :global(.__wab_flex-container) > *,
.freeBox__rChaj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rChaj > :global(.__wab_flex-container) > picture > img,
.freeBox__rChaj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.text__jdiI {
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 400;
}
.svg__alC9Q {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #f3740e;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.svg__wSo3B {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #18cd66;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.text__bdRsh {
  position: relative;
  width: 100px;
  height: auto;
  max-width: 100%;
  font-weight: 100;
  font-size: 11px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bdRsh {
    display: none;
  }
}
.text__azID {
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 100;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__azID {
    width: 60px;
    margin-top: calc(2px + var(--token-fhaz6q6bl-fW)) !important;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    display: block;
  }
}
.text__fOBj7 {
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 100;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fOBj7 {
    width: 80px;
    margin-top: calc(2px + var(--token-fhaz6q6bl-fW)) !important;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    display: block;
  }
}
.freeBox__zrFqj {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__zrFqj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__zrFqj > :global(.__wab_flex-container) > *,
.freeBox__zrFqj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zrFqj > :global(.__wab_flex-container) > picture > img,
.freeBox__zrFqj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zrFqj {
    width: auto;
    display: none;
  }
}
.freeBox__lfaNp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__rn5 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-jKWXB7hOHC63);
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.freeBox__vEfgU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__vEfgU > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__vEfgU > :global(.__wab_flex-container) > *,
.freeBox__vEfgU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vEfgU > :global(.__wab_flex-container) > picture > img,
.freeBox__vEfgU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.freeBox___1W7Ni {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
  border: 1px solid #e0e0e0;
}
.freeBox__oLwfu {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__oLwfu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__oLwfu > :global(.__wab_flex-container) > *,
.freeBox__oLwfu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oLwfu > :global(.__wab_flex-container) > picture > img,
.freeBox__oLwfu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__b6Gk2 {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__smYaA {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
}
.freeBox__gXOE {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__gXOE > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__gXOE > :global(.__wab_flex-container) > *,
.freeBox__gXOE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gXOE > :global(.__wab_flex-container) > picture > img,
.freeBox__gXOE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__hcRhi {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__adUx0 {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
}
.freeBox__eAwl4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.patientPrivateData__usAcf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.patientPrivateData__w3Sf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.patientPrivateData__toQxz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.bime:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.patientPrivateData__x7Ftj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.patientPrivateData__ujSgU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.cost2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.patientPrivateData__qmwlZ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.patientPrivateData__qHlMg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__fEuSf {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 8px;
}
.freeBox__fEuSf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__fEuSf > :global(.__wab_flex-container) > *,
.freeBox__fEuSf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fEuSf > :global(.__wab_flex-container) > picture > img,
.freeBox__fEuSf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.button__iLuiz:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__bzhTf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__cqwx7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__ltYs2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__y0Ea2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__e2Bq9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__czTw6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__pkSat {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__uOxcZ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.deletebookdialog:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__eKJnR {
  height: auto;
}
.freeBox__lPskW {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__lPskW > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__lPskW > :global(.__wab_flex-container) > *,
.freeBox__lPskW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lPskW > :global(.__wab_flex-container) > picture > img,
.freeBox__lPskW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.button__drPzr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__t9LDe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__yvM6Q {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__fGkkd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__uesDl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ud3Gi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialog2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__hwdAm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__hwdAm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__hwdAm > :global(.__wab_flex-container) > *,
.freeBox__hwdAm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hwdAm > :global(.__wab_flex-container) > picture > img,
.freeBox__hwdAm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.text__t1DSe {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.descriptionInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__kv061 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__g83Yu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__elFDx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__oTgvt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__gUzaQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialog3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text___8BINw {
  font-family: var(--iran-sans-x);
  font-size: var(--token-tM2Vh4zTir7U);
  font-weight: 700;
  font-style: normal;
  color: #000000;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.freeBox___1Spt1 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__fxtBu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--iran-sans-x);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.bookState {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 300px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px;
}
.bookState > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - var(--token-vMUQwr5Jto1d));
  width: calc(100% + var(--token-vMUQwr5Jto1d));
}
.bookState > :global(.__wab_flex-container) > *,
.bookState > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bookState > :global(.__wab_flex-container) > picture > img,
.bookState
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-vMUQwr5Jto1d);
}
@media (min-width: 0px) and (max-width: 768px) {
  .bookState {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .bookState > :global(.__wab_flex-container) {
    justify-content: space-between;
    flex-direction: row;
    min-width: 0;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .bookState > :global(.__wab_flex-container) > *,
  .bookState > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .bookState > :global(.__wab_flex-container) > picture > img,
  .bookState
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.safeCall:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .safeCall:global(.__wab_instance) {
    width: auto;
  }
}
.button__zley0:global(.__wab_instance) {
  max-width: 100%;
  width: 120px;
  height: 40px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__zley0:global(.__wab_instance) {
    width: 100%;
    flex-shrink: 1;
    min-width: 0;
  }
}
.svg__cnUPw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___7Xqa6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.bookStatusButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .bookStatusButton:global(.__wab_instance) {
    width: 100%;
    flex-shrink: 1;
    min-width: 0;
  }
}
