.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: flex-end;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__svjj0 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 0px;
}
.freeBox__keLl0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__p96N {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100vh;
  max-width: 100%;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  justify-content: flex-start;
  align-items: flex-end;
  transition-property: all;
  transition-duration: 300ms;
  transform: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 300ms;
  border: 1px solid var(--token-9ml8Bu7TYsyp);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p96N {
    background: #ffffff;
    height: 100vh;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0px;
  }
}
.freeBox__s0AfW {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 14rem;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__s0AfW > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__s0AfW > :global(.__wab_flex-container) > *,
.freeBox__s0AfW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s0AfW > :global(.__wab_flex-container) > picture > img,
.freeBox__s0AfW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.svg__gdZly {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.text__zkHqb {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  transition-property: all;
  transition-duration: 400ms;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  -webkit-transition-property: all;
  -webkit-transition-duration: 400ms;
}
.freeBox__fleUv {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 14rem;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__fleUv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__fleUv > :global(.__wab_flex-container) > *,
.freeBox__fleUv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fleUv > :global(.__wab_flex-container) > picture > img,
.freeBox__fleUv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.svg__lYyKc {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.text___8VvRr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  transition-property: all;
  transition-duration: 600ms;
  -webkit-transition-property: all;
  -webkit-transition-duration: 600ms;
}
.freeBox___5VmVt {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 14rem;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox___5VmVt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox___5VmVt > :global(.__wab_flex-container) > *,
.freeBox___5VmVt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5VmVt > :global(.__wab_flex-container) > picture > img,
.freeBox___5VmVt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.svg__y2Pix {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.text__tY9D {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  transition-property: all;
  transition-duration: 600ms;
  -webkit-transition-property: all;
  -webkit-transition-duration: 600ms;
}
.freeBox__mIeJs {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 14rem;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__mIeJs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__mIeJs > :global(.__wab_flex-container) > *,
.freeBox__mIeJs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mIeJs > :global(.__wab_flex-container) > picture > img,
.freeBox__mIeJs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.svg__y2Zbh {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  margin-bottom: 0px;
  flex-shrink: 0;
}
.text__xUgTf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  transition-property: all;
  transition-duration: 600ms;
  -webkit-transition-property: all;
  -webkit-transition-duration: 600ms;
}
.freeBox__plunK {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 14rem;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__plunK > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__plunK > :global(.__wab_flex-container) > *,
.freeBox__plunK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__plunK > :global(.__wab_flex-container) > picture > img,
.freeBox__plunK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.svg__gHa2O {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.text__xUJh1 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  transition-property: all;
  transition-duration: 600ms;
  -webkit-transition-property: all;
  -webkit-transition-duration: 600ms;
}
.freeBox__bz3A {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 14rem;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__bz3A > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__bz3A > :global(.__wab_flex-container) > *,
.freeBox__bz3A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bz3A > :global(.__wab_flex-container) > picture > img,
.freeBox__bz3A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.svg__nDjJe {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.text__zrebp {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  transition-property: all;
  transition-duration: 600ms;
  -webkit-transition-property: all;
  -webkit-transition-duration: 600ms;
}
.freeBox__rvusO {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 14rem;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__rvusO > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__rvusO > :global(.__wab_flex-container) > *,
.freeBox__rvusO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rvusO > :global(.__wab_flex-container) > picture > img,
.freeBox__rvusO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.svg___4CWbC {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.text__bwIin {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  transition-property: all;
  transition-duration: 600ms;
  -webkit-transition-property: all;
  -webkit-transition-duration: 600ms;
}
.freeBox__tMfvv {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 14rem;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__tMfvv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__tMfvv > :global(.__wab_flex-container) > *,
.freeBox__tMfvv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tMfvv > :global(.__wab_flex-container) > picture > img,
.freeBox__tMfvv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.svg__czZjI {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.text__pblv3 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  transition-property: all;
  transition-duration: 600ms;
  -webkit-transition-property: all;
  -webkit-transition-duration: 600ms;
}
.freeBox__wgcR7 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 14rem;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__wgcR7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__wgcR7 > :global(.__wab_flex-container) > *,
.freeBox__wgcR7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wgcR7 > :global(.__wab_flex-container) > picture > img,
.freeBox__wgcR7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.svg__q0Yco {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.text__bsLju {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  transition-property: all;
  transition-duration: 600ms;
  -webkit-transition-property: all;
  -webkit-transition-duration: 600ms;
}
.freeBox__blEnR {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 14rem;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__blEnR > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__blEnR > :global(.__wab_flex-container) > *,
.freeBox__blEnR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__blEnR > :global(.__wab_flex-container) > picture > img,
.freeBox__blEnR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.svg___7AbY9 {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.text__tSmWv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  transition-property: all;
  transition-duration: 600ms;
  -webkit-transition-property: all;
  -webkit-transition-duration: 600ms;
}
.freeBox__okTde {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__okTde > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__okTde > :global(.__wab_flex-container) > *,
.freeBox__okTde > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__okTde > :global(.__wab_flex-container) > picture > img,
.freeBox__okTde
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.img__n4Rlf {
  object-fit: cover;
  max-width: 100%;
  height: 40px;
  width: 40px;
  flex-shrink: 0;
}
.img__n4Rlf > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__n4Rlf {
    display: none;
  }
}
.text__oc3Sm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-bottom: 0px;
  text-decoration-line: none;
  color: #3f3f79;
  font-weight: 700;
  transition-property: all;
  transition-duration: 600ms;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 600ms;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__oc3Sm {
    display: none;
  }
}
.freeBox___0BiG {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 44px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border: 1px solid var(--token-9ml8Bu7TYsyp);
}
.freeBox___0BiG > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox___0BiG > :global(.__wab_flex-container) > *,
.freeBox___0BiG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0BiG > :global(.__wab_flex-container) > picture > img,
.freeBox___0BiG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0BiG {
    display: flex;
    flex-direction: row;
    height: 60px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0BiG > :global(.__wab_flex-container) {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
    width: calc(100% + var(--token-Fv8-L_kN-2Ma));
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0BiG > :global(.__wab_flex-container) > *,
  .freeBox___0BiG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___0BiG > :global(.__wab_flex-container) > picture > img,
  .freeBox___0BiG
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: var(--token-Fv8-L_kN-2Ma);
    margin-top: 0px;
  }
}
.img__xm9VE {
  object-fit: cover;
  max-width: 100%;
  height: 40px;
  width: 40px;
  flex-shrink: 0;
}
.img__xm9VE > picture > img {
  object-fit: cover;
}
.text__nJw9L {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nJw9L {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg__ndVnO {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__ndVnO {
    position: relative;
    left: auto;
    top: auto;
  }
}
.freeBox__caVcW {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #1616160f;
  backdrop-filter: blur(2px);
  filter: none;
  cursor: pointer;
  display: none;
  -webkit-backdrop-filter: blur(2px);
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__caVcW {
    display: flex;
  }
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__qNo93 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__ium9N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
