.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  border-radius: 8px;
  padding: 16px 8px;
  border: 1px solid #dcdcdc;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
    height: calc(100% + var(--token-vMUQwr5Jto1d));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-vMUQwr5Jto1d);
  }
}
.text__oPkcm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  text-align: center;
}
.freeBox__cR9Gj {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__cR9Gj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__cR9Gj > :global(.__wab_flex-container) > *,
.freeBox__cR9Gj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cR9Gj > :global(.__wab_flex-container) > picture > img,
.freeBox__cR9Gj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cR9Gj {
    width: 100%;
    min-width: 0;
    border-top: 1px solid var(--token-BU1JCAY6hntB);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cR9Gj > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
    min-width: 0;
  }
}
.freeBox___0IHk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-759-ajT7kwoy);
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 16px;
}
.text__zlOqM {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.svg__ylrx7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #000000;
}
.dialog2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  transform: none;
}
.freeBox__bXfXv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-759-ajT7kwoy);
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 16px;
}
.text__e3BtM {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.svg___26YbW {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #000000;
}
.freeBox__d1Eii {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__d1Eii > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
}
.freeBox__d1Eii > :global(.__wab_flex-container) > *,
.freeBox__d1Eii > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d1Eii > :global(.__wab_flex-container) > picture > img,
.freeBox__d1Eii
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
}
.svg__dPria {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text___7Lo3 {
  height: auto;
}
.freeBox__hO9T7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__hO9T7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__hO9T7 > :global(.__wab_flex-container) > *,
.freeBox__hO9T7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hO9T7 > :global(.__wab_flex-container) > picture > img,
.freeBox__hO9T7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__v3WIa {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__v3WIa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__v3WIa > :global(.__wab_flex-container) > *,
.freeBox__v3WIa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v3WIa > :global(.__wab_flex-container) > picture > img,
.freeBox__v3WIa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__uPkh4 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 500;
}
.datePicker2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__zaHvX {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__zaHvX > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__zaHvX > :global(.__wab_flex-container) > *,
.freeBox__zaHvX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zaHvX > :global(.__wab_flex-container) > picture > img,
.freeBox__zaHvX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.button__tLoq:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__gSzHx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__lrCzW {
  height: auto;
}
.svg__rqI2U {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__legwr:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__d6E8L {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__wOp99 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
