.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__wsDYs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.apiGetDrTags:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__rh6X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__iVnx9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.apiGetTags:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__atleA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__qpfD5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__yELE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  padding-right: 7px;
  padding-left: 7px;
  row-gap: var(--token-W6cMLA0AZVBO);
  min-width: 0;
}
.freeBox__oZwG {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
  padding: 8px;
}
.text__cTh0X {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  font-weight: 500;
  min-width: 0;
  display: none;
}
.text__vFoqB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
  min-width: 0;
}
.multiSlect:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.freeBox__rcMti {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__h4Pfn {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 200;
  font-size: 14px;
  text-align: center;
  padding: 0px 5px 5px;
}
.text__s9Dt {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 200;
  font-size: 14px;
  text-align: center;
  display: none;
}
.text__voIrB {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 200;
  font-size: 14px;
  text-align: center;
  display: none;
  padding: 0px 5px 5px;
}
.freeBox__ekHn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 0px 8px;
  border: 1px solid #cbd5e1;
}
.freeBox__ieUzT {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
}
.freeBox___7DZt8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-vMUQwr5Jto1d);
}
.freeBox__o5T4I {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25px;
  height: 25px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
}
.text__waUcx {
  width: var(--token-BCWljTOyDNmw);
  height: auto;
  max-width: 100%;
  text-align: center;
}
.text___8Ob0C {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: var(--iran-sans-x);
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__iLIqm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  column-gap: var(--token-vMUQwr5Jto1d);
  padding: 8px;
}
.freeBox__r6MAb {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  column-gap: var(--token-_c276Gs_1FIE);
}
.button__iyCy:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 1;
  margin-right: 0px;
  width: auto;
  flex-grow: 0;
  display: none;
}
.svg__z703T {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-PeJTH_WMN3fq);
}
.button__cxJtj:global(.__wab_instance) {
  flex-shrink: 1;
  width: auto;
  max-width: 100%;
  display: none;
}
.svg__bNjG5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-PeJTH_WMN3fq);
}
.freeBox__wnluj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  max-width: 100%;
  min-width: 35px;
  flex-shrink: 0;
  border-radius: 20px;
  padding: 8px;
  border: 1.5px solid var(--token-qtgMaW0djcWt);
}
.svg___8Jfzr {
  position: relative;
  object-fit: cover;
  width: 25px;
  height: 25px;
  min-height: var(--token-UIMkdd_bvvx_);
  margin-right: 0px;
  flex-shrink: 0;
}
.freeBox__hnlZd {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 35px;
  height: 35px;
  max-width: 100%;
  flex-shrink: 0;
}
.freeBox___6UKkd {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  max-width: 100%;
  flex-shrink: 0;
  border-radius: 20px;
  padding: 8px;
  border: 1.5px solid var(--token-qtgMaW0djcWt);
}
.svg__emSOi {
  position: relative;
  object-fit: cover;
  width: 25px;
  height: 1em;
  min-height: var(--token-UIMkdd_bvvx_);
  flex-shrink: 0;
}
.freeBox__lwpjU {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
}
.svg__inh7A {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-t6UZL9yA9o_L);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
