.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  cursor: pointer;
  border-top-style: none;
  border-top-width: 2px;
  background: #ffffff;
  min-width: 0;
  border-bottom: 2px solid #e0e0e0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: column;
    border-right-width: 1px;
    border-left-width: 1px;
    box-shadow: 0px 4px 25px 0px #00000012;
    border-radius: 8px;
    border-style: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.rootonlineBorder {
  border-bottom-width: 2px;
  border-top-width: 2px;
  background: #f1f5f980;
}
.text__e542H {
  position: relative;
  font-weight: 700;
  font-size: var(--token-fwZvoB_ZCfwn);
  align-self: center;
  color: var(--token-iWQmILTzm3N0);
  text-align: center;
  height: auto;
  width: 79px;
  left: auto;
  top: auto;
  min-width: 79px;
  max-width: 79px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__e542H {
    display: none;
  }
}
.textonlineBorder__e542H5Rn5G {
  position: relative;
  left: auto;
  top: auto;
  width: 79px;
  height: auto;
  align-self: center;
  flex-shrink: 0;
}
.lineClamp:global(.__wab_instance) {
  max-width: 100%;
  width: 140px;
  flex-shrink: 0;
}
.text__sMwi1 {
  position: relative;
  font-weight: 600;
  width: 140px;
  text-align: center;
  font-size: 14px;
  min-width: 140px;
  max-width: 140px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sMwi1 {
    display: none;
  }
}
.freeBox__e2FJr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__e2FJr {
    display: none;
  }
}
.svg__ffjgv {
  object-fit: cover;
  max-width: 20%;
  width: 20px;
  flex-shrink: 0;
  height: 1em;
}
.text__aGdOv {
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 500;
  text-align: center;
  max-width: 80px;
  min-width: 80px;
  width: 80px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aGdOv {
    width: 60px;
    flex-shrink: 0;
    display: none;
    margin: 2px;
  }
}
.text__s6Ouh {
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 400;
  width: 100px;
  text-align: center;
  max-width: 100px;
  min-width: 100px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__s6Ouh {
    display: none;
  }
}
.freeBox__kYxN2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80px;
  height: auto;
  max-width: 80px;
  justify-content: flex-start;
  align-items: center;
  min-width: 80px;
  flex-shrink: 0;
  padding: 0px;
}
.text__r7ZrR {
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 400;
  width: 100%;
  text-align: center;
  min-width: 0;
}
.text__okPe8 {
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 400;
  text-align: center;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__okPe8 {
    display: none;
  }
}
.freeBox__zo2Zh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
  height: auto;
  max-width: 200px;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zo2Zh {
    padding: 0px;
  }
}
.freeBox__z6Rot {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__z6Rot {
    padding: 0px;
  }
}
.apiGetPyamentInfo2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__yGyMa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__htWmx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.dialog5:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg___9TbgF {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  color: var(--token-kpM4b4mG4f2d);
  margin-top: 0px;
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___9TbgF {
    display: none;
  }
}
.svg__ocx61 {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  color: #000000;
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__ocx61 {
    display: none;
  }
}
.freeBox___8VPqZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___8VPqZ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox___8VPqZ > :global(.__wab_flex-container) > *,
.freeBox___8VPqZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8VPqZ > :global(.__wab_flex-container) > picture > img,
.freeBox___8VPqZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.freeBox__pIQq {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #f1f5f9;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__pIQq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - var(--token-W6cMLA0AZVBO));
  height: calc(100% + var(--token-W6cMLA0AZVBO));
}
.freeBox__pIQq > :global(.__wab_flex-container) > *,
.freeBox__pIQq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pIQq > :global(.__wab_flex-container) > picture > img,
.freeBox__pIQq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-W6cMLA0AZVBO);
}
.text___8Ar3Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button___2RJ1C:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__lpG8R {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__euglf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__bh3Py {
  position: relative;
  font-weight: 600;
  width: auto;
  font-size: 12px;
  color: #16a34a;
  text-align: center;
}
.text__nIqph {
  position: relative;
  font-weight: 300;
  width: auto;
  font-size: 12px;
  color: var(--token-4nkHJBlHYFDY);
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nIqph {
    display: none;
  }
}
.text__q3Vgc {
  position: relative;
  font-weight: 400;
  width: auto;
  font-size: 12px;
  color: var(--token-CVFO6fzYsS1_);
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__q3Vgc {
    display: none;
  }
}
.text__fI72E {
  position: relative;
  font-weight: 500;
  width: auto;
  font-size: 12px;
  color: var(--token-CVFO6fzYsS1_);
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fI72E {
    display: none;
  }
}
.text__z3UR {
  position: relative;
  font-weight: 600;
  width: auto;
  font-size: 12px;
  color: var(--token-CVFO6fzYsS1_);
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__z3UR {
    display: none;
  }
}
.freeBox__d5Nij {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d5Nij {
    justify-content: space-between;
    margin-bottom: 0px;
    display: flex;
    border-bottom: 1px solid #e0e0e0;
  }
}
.freeBox___7Os85 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Os85 {
    width: auto;
    justify-content: center;
    align-items: center;
  }
}
.svg__oEqht {
  object-fit: cover;
  max-width: 24px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__oEqht {
    display: block;
  }
}
.text__uypUq {
  font-weight: 800;
  width: auto;
}
.freeBox___9MLBi {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 8px;
}
.freeBox___9MLBi > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9MLBi {
    width: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9MLBi > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 2px);
    width: calc(100% + 2px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9MLBi > :global(.__wab_flex-container) > *,
  .freeBox___9MLBi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___9MLBi > :global(.__wab_flex-container) > picture > img,
  .freeBox___9MLBi
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 2px;
    margin-top: 0px;
  }
}
.freeBoxonlineBorder___9MLBi5Rn5G {
  position: relative;
  top: auto;
  left: auto;
  align-self: center;
}
.svg__kSQH {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-jKWXB7hOHC63);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__kSQH {
    display: block;
  }
}
.text__spiDa {
  font-weight: 800;
  font-size: var(--token-hYndcje43OGL);
  color: var(--token-jKWXB7hOHC63);
  text-align: center;
  width: auto;
  height: auto;
}
.textonlineBorder__spiDa5Rn5G {
  width: auto;
  height: auto;
}
.freeBox__iKQw {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBox__iKQw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iKQw {
    display: flex;
    flex-direction: column;
    padding: var(--token-vMUQwr5Jto1d);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iKQw > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
    height: calc(100% + var(--token-vMUQwr5Jto1d));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iKQw > :global(.__wab_flex-container) > *,
  .freeBox__iKQw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__iKQw > :global(.__wab_flex-container) > picture > img,
  .freeBox__iKQw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-vMUQwr5Jto1d);
  }
}
.freeBox__k1Ytc {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__k1Ytc {
    justify-content: space-between;
    display: flex;
    padding: 0px;
  }
}
.text__jeWLc {
  width: auto;
  height: auto;
  max-width: 100%;
  color: #616161;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jeWLc {
    display: block;
  }
}
.text__e0SFd {
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 600;
}
.freeBox__dsw1G {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dsw1G {
    justify-content: space-between;
    display: flex;
    padding: 0px;
  }
}
.text__g1Htr {
  width: auto;
  height: auto;
  max-width: 100%;
  color: #616161;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__g1Htr {
    display: block;
  }
}
.freeBox___1DinK {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox___1DinK > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox___1DinK > :global(.__wab_flex-container) > *,
.freeBox___1DinK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1DinK > :global(.__wab_flex-container) > picture > img,
.freeBox___1DinK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.svg__fjX81 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__rntl1 {
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 600;
}
.freeBox___9IE3Z {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9IE3Z {
    justify-content: space-between;
    display: flex;
    padding: 0px;
  }
}
.text___8GskM {
  width: auto;
  height: auto;
  max-width: 100%;
  color: #616161;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___8GskM {
    display: block;
  }
}
.text___9Tmx7 {
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 600;
}
.freeBox__oaKqB {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oaKqB {
    justify-content: space-between;
    display: flex;
    padding: 0px;
  }
}
.text__eTltx {
  width: auto;
  height: auto;
  max-width: 100%;
  color: #616161;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__eTltx {
    display: block;
  }
}
.text__vdzg {
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 600;
}
.freeBox__seUTg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__seUTg {
    justify-content: space-between;
    display: flex;
    padding: 0px;
  }
}
.text__zlJnk {
  width: 110px;
  height: auto;
  max-width: 100%;
  color: #616161;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zlJnk {
    display: block;
  }
}
.freeBox___6QbZ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__uOFD {
  position: relative;
  font-weight: 600;
  width: 70px;
  font-size: 12px;
  color: #16a34a;
  text-align: left;
  flex-shrink: 0;
}
.text__uc8T3 {
  position: relative;
  font-weight: 300;
  width: 70px;
  font-size: 12px;
  color: var(--token-4nkHJBlHYFDY);
  text-align: left;
  flex-shrink: 0;
}
.text___1QPgH {
  position: relative;
  font-weight: 400;
  width: 70px;
  font-size: 12px;
  color: var(--token-CVFO6fzYsS1_);
  text-align: left;
  flex-shrink: 0;
}
.text__ttc07 {
  position: relative;
  font-weight: 500;
  width: auto;
  font-size: 12px;
  color: var(--token-CVFO6fzYsS1_);
  text-align: left;
}
.text__gAZjp {
  position: relative;
  font-weight: 600;
  width: auto;
  font-size: 12px;
  color: #dc2626;
  text-align: left;
}
.text__kdznH {
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kdznH {
    text-align: left;
    display: none;
  }
}
.dialog6:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__kwiXy {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  color: var(--token-kpM4b4mG4f2d);
  height: 1em;
}
.svg__nnOny {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  color: #000000;
  height: 1em;
}
.freeBox___3ALbV {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___3ALbV > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox___3ALbV > :global(.__wab_flex-container) > *,
.freeBox___3ALbV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3ALbV > :global(.__wab_flex-container) > picture > img,
.freeBox___3ALbV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.freeBox___2ZrJj {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #f1f5f9;
  border-radius: 8px;
  padding: 8px;
}
.freeBox___2ZrJj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - var(--token-W6cMLA0AZVBO));
  height: calc(100% + var(--token-W6cMLA0AZVBO));
}
.freeBox___2ZrJj > :global(.__wab_flex-container) > *,
.freeBox___2ZrJj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2ZrJj > :global(.__wab_flex-container) > picture > img,
.freeBox___2ZrJj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-W6cMLA0AZVBO);
}
.text__qkJH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__eQsEx:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__wFzAa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__uj1M3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .dialog:global(.__wab_instance):global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.freeBox__lfaNp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__rn5 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-jKWXB7hOHC63);
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.freeBox__vEfgU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__vEfgU > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__vEfgU > :global(.__wab_flex-container) > *,
.freeBox__vEfgU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vEfgU > :global(.__wab_flex-container) > picture > img,
.freeBox__vEfgU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.freeBox___1W7Ni {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
  border: 1px solid #e0e0e0;
}
.freeBox__oLwfu {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__oLwfu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__oLwfu > :global(.__wab_flex-container) > *,
.freeBox__oLwfu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oLwfu > :global(.__wab_flex-container) > picture > img,
.freeBox__oLwfu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__b6Gk2 {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__smYaA {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
}
.freeBox__gXOE {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__gXOE > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__gXOE > :global(.__wab_flex-container) > *,
.freeBox__gXOE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gXOE > :global(.__wab_flex-container) > picture > img,
.freeBox__gXOE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__hcRhi {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__adUx0 {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
}
.freeBox__eAwl4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.patientPrivateData__usAcf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.patientPrivateData__w3Sf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.patientPrivateData__toQxz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.bime:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.patientPrivateData__x7Ftj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__ejL11 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.patientPrivateData__ujSgU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.dialog4:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__vU5GH {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  color: var(--token-kpM4b4mG4f2d);
  height: 1em;
}
.svg__nHqX6 {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  color: #000000;
  height: 1em;
}
.freeBox__vqd4L {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__vqd4L > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__vqd4L > :global(.__wab_flex-container) > *,
.freeBox__vqd4L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vqd4L > :global(.__wab_flex-container) > picture > img,
.freeBox__vqd4L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.freeBox__q9I2G {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #f1f5f9;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__q9I2G > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - var(--token-W6cMLA0AZVBO));
  height: calc(100% + var(--token-W6cMLA0AZVBO));
}
.freeBox__q9I2G > :global(.__wab_flex-container) > *,
.freeBox__q9I2G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q9I2G > :global(.__wab_flex-container) > picture > img,
.freeBox__q9I2G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-W6cMLA0AZVBO);
}
.text__m9Ll4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button___04HCn:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__fv8F {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___7CDte {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.cost2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.patientPrivateData__qmwlZ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.apiBookHistory:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__sxIp4 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__fh8M9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.patientPrivateData__qHlMg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__tNVg {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__tNVg > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__tNVg > :global(.__wab_flex-container) > *,
.freeBox__tNVg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tNVg > :global(.__wab_flex-container) > picture > img,
.freeBox__tNVg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.patientPrivateData__mn9Wu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__u5Za2 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__wYwXi {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox__oqfdv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-It8BufY6ejOY);
  min-width: 0;
  border-radius: 8px;
  padding: 3px;
}
.freeBox__cImpZ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 5px;
  border-bottom: 2px solid var(--token-_oWwhXE_jgOI);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cImpZ {
    justify-content: center;
  }
}
.text___2APaX {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___2APaX {
    width: 120px;
    flex-shrink: 0;
  }
}
.text___3IwyS {
  position: relative;
  width: 180px;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___3IwyS {
    width: 100px;
    flex-shrink: 0;
  }
}
.text__ri8RL {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ri8RL {
    width: 100px;
    flex-shrink: 0;
  }
}
.freeBox__q4Jhn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 5px;
  border-bottom: 1px solid var(--token-_oWwhXE_jgOI);
}
.freeBox__ujEoc {
  display: flex;
  flex-direction: row;
  position: relative;
  height: auto;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.freeBox__ujEoc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__ujEoc > :global(.__wab_flex-container) > *,
.freeBox__ujEoc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ujEoc > :global(.__wab_flex-container) > picture > img,
.freeBox__ujEoc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ujEoc > :global(.__wab_flex-container) {
    justify-content: center;
  }
}
.text__gAjGj {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gAjGj {
    width: 120px;
    flex-shrink: 0;
  }
}
.text__ojVSl {
  position: relative;
  width: 180px;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ojVSl {
    width: 100px;
    flex-shrink: 0;
  }
}
.text__wfhAw {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wfhAw {
    width: 100px;
    flex-shrink: 0;
  }
}
.freeBox__fEuSf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 8px;
}
.freeBox__fEuSf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__fEuSf > :global(.__wab_flex-container) > *,
.freeBox__fEuSf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fEuSf > :global(.__wab_flex-container) > picture > img,
.freeBox__fEuSf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.button__iLuiz:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__bzhTf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__cqwx7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__ltYs2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__y0Ea2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__e2Bq9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__czTw6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__pkSat {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__uOxcZ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.apiPres:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__v98ZX {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg__sa19X {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  flex-shrink: 0;
}
.text__amyOh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.deletebookdialog:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__eKJnR {
  height: auto;
}
.freeBox__lPskW {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__lPskW > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__lPskW > :global(.__wab_flex-container) > *,
.freeBox__lPskW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lPskW > :global(.__wab_flex-container) > picture > img,
.freeBox__lPskW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.button__drPzr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__t9LDe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__yvM6Q {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__fGkkd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__uesDl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ud3Gi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialog2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__hwdAm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 0px;
}
.freeBox__hwdAm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__hwdAm > :global(.__wab_flex-container) > *,
.freeBox__hwdAm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hwdAm > :global(.__wab_flex-container) > picture > img,
.freeBox__hwdAm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vMUQwr5Jto1d);
}
.text__t1DSe {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.descriptionInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__kv061 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__g83Yu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__elFDx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__oTgvt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__gUzaQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialog3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text___8BINw {
  font-family: var(--iran-sans-x);
  font-size: var(--token-tM2Vh4zTir7U);
  font-weight: 700;
  font-style: normal;
  color: #000000;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.freeBox___1Spt1 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__fxtBu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--iran-sans-x);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.bookState {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 300px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px;
}
.bookState > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - var(--token-vMUQwr5Jto1d));
  width: calc(100% + var(--token-vMUQwr5Jto1d));
}
.bookState > :global(.__wab_flex-container) > *,
.bookState > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bookState > :global(.__wab_flex-container) > picture > img,
.bookState
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-vMUQwr5Jto1d);
}
@media (min-width: 0px) and (max-width: 768px) {
  .bookState {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-width: 0;
    padding: var(--token-vMUQwr5Jto1d);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .bookState > :global(.__wab_flex-container) {
    justify-content: space-between;
    flex-direction: row;
    min-width: 0;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .bookState > :global(.__wab_flex-container) > *,
  .bookState > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .bookState > :global(.__wab_flex-container) > picture > img,
  .bookState
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.safeCall:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .safeCall:global(.__wab_instance) {
    width: auto;
  }
}
.button__zley0:global(.__wab_instance) {
  max-width: 100%;
  width: 120px;
  height: 40px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__zley0:global(.__wab_instance) {
    width: 100%;
    flex-shrink: 1;
    min-width: 0;
  }
}
.svg__cnUPw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___7Xqa6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.bookStatusButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .bookStatusButton:global(.__wab_instance) {
    width: 100%;
    flex-shrink: 1;
    min-width: 0;
  }
}
.apiselcetedonlinevisitchannels:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__yQk4L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__lwfKn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
