.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-It8BufY6ejOY);
  align-content: flex-start;
  min-width: 0;
  min-height: 0;
  padding: 5px 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.transactions2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.sideEffect__hyMp1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.quickAccess {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-top-color: var(--token-Y3HOiwZmAcAF);
  border-right-color: var(--token-Y3HOiwZmAcAF);
  border-bottom-color: #ffffff;
  border-left-color: var(--token-Y3HOiwZmAcAF);
  min-width: 0;
  border-radius: 8px 8px 0px 0px;
  padding: 0px 0px 0px 5px;
  border-width: 1px;
  border-style: solid;
}
@media (min-width: 0px) and (max-width: 768px) {
  .quickAccess {
    border-style: none;
  }
}
.freeBox___6KDyg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  column-gap: var(--token-fhaz6q6bl-fW);
  padding: 0px;
}
.freeBox__svOai {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 1px;
}
.freeBox__zsHy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 150px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
}
.quickAccessWallet:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  height: auto;
  flex-shrink: 0;
}
.date {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  border-top-color: var(--token-Y3HOiwZmAcAF);
  border-right-color: #e5e9f0;
  border-bottom-color: var(--token-Y3HOiwZmAcAF);
  border-left-color: #e5e9f0;
  background: #ffffff;
  min-width: 0;
  padding: var(--token-vMUQwr5Jto1d);
  border-width: 1px;
  border-style: solid;
}
@media (min-width: 0px) and (max-width: 768px) {
  .date {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
  }
}
.date2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
}
.svg___9WSbo {
  object-fit: cover;
  max-width: 100%;
  width: 28px;
  height: 24px;
  cursor: pointer;
  flex-shrink: 0;
}
.freeBox__byWcL {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  column-gap: var(--token-_c276Gs_1FIE);
}
.text__pKxXf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pKxXf {
    font-size: 14px;
  }
}
.calendar:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___2Lu0R {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.freeBox___4Svml {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.fragmentDatePicker:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.svg__hpOk3 {
  object-fit: cover;
  max-width: 100%;
  width: 28px;
  height: 24px;
  cursor: pointer;
  flex-shrink: 0;
}
.center {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
  border: 4px none #e5e9f0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .center {
    width: 100%;
    min-width: 0;
    border-width: 1px;
    border-style: none;
  }
}
.freeBox__sDheN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  border: 1px solid #e5e9f0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sDheN {
    align-items: center;
    justify-content: center;
    border-style: none;
  }
}
.apiAllCenters:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__oXtL5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__p0EWx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__nwoZh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 100%;
  flex-shrink: 1;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  padding-bottom: var(--token-vMUQwr5Jto1d);
  padding-top: var(--token-vMUQwr5Jto1d);
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  margin: 0px 0px 2px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nwoZh {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    row-gap: 0px;
    padding: var(--token-fhaz6q6bl-fW);
  }
}
.text__hkB9N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
  margin: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hkB9N {
    width: 100%;
    margin-bottom: 0px;
    height: auto;
    min-width: 0;
  }
}
.drCenters:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .drCenters:global(.__wab_instance) {
    width: 100%;
    align-self: flex-end;
    min-width: 0;
    margin: 10px 10px 0px;
  }
}
.onOffButton {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background:
    linear-gradient(var(--token-41VRhDKfihhY), var(--token-41VRhDKfihhY)),
    #e2e8f0;
  flex-direction: column;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  bottom: auto;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.apiUserCenterService:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
}
.text__eyEcC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text___00JRs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.button__evOVq:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.svg___9GKOh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__jyMlJ {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-QcxRWQfhgyJI);
  height: var(--token-QcxRWQfhgyJI);
}
.svg__a4SB2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.determiningTheSituationDialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__nxipv {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___0XNS {
  text-align: center;
}
.freeBox__i4Xr5 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-Fv8-L_kN-2Ma);
  min-width: 0;
  padding: 8px;
}
.text__gs55Z {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
  padding: 0px;
}
.text__kvrfA {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.text__k5Fc {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  background: var(--token-cVpG0mQLNBOP);
  min-width: 0;
  display: none;
  padding: 10px;
}
.freeBox___5TkL4 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  row-gap: var(--token-W6cMLA0AZVBO);
  min-width: 0;
  padding: 8px;
}
.cancelbook:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__oAQzY {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ed3A {
  color: var(--token-WR9d568ToYeY);
  font-size: var(--token-6NbVMeD6zQwn);
}
.svg___61ExW {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__ylH:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__adLux {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__kxvz9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.switch2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-BU1JCAY6hntB);
  column-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
  border-radius: 8px;
  border: 1px solid var(--token-BU1JCAY6hntB);
}
.freeBox__yp9GD {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.text__xafJ {
  position: relative;
  width: 90px;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-weight: 600;
  flex-shrink: 0;
}
.text__zuire {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-lw4xv_KKpd4e);
  font-weight: 600;
  min-width: 0;
}
.text__rdihU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-CVFO6fzYsS1_);
  font-weight: 600;
  min-width: 0;
}
._switch:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #2563eb;
}
.sideEffect__tYtPq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.patientList:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
  min-width: 0;
  min-height: 0;
}
.button__z2S3W:global(.__wab_instance) {
  max-width: 100%;
}
.svg__hgQzN {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: var(--token-jKWXB7hOHC63);
}
.svg___34Dcf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  bottom: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .dialog:global(.__wab_instance):global(.__wab_instance) {
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
  }
}
.dialogactive:global(.__wab_instance):global(.__wab_instance) {
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
}
.button__iaDjv:global(.__wab_instance) {
  left: auto;
  top: auto;
  z-index: 1;
  position: fixed;
  height: 60px;
  bottom: 0;
  right: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__iaDjv:global(.__wab_instance) {
    bottom: 15px;
    width: 50px;
    right: 15px;
    height: 50px;
    display: flex;
  }
}
.svg__qUoS5 {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 30px;
  height: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__qUoS5 {
    width: 26px;
    height: 26px;
  }
}
.freeBox__x2VgS {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.addPatient:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.runCodeGtmMetrica:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.gtm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.apiPayment:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__f4HEs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__b0IPn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.apiHoliday:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__oeHaE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__pN9F9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__fMKl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__ndbXw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
