.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.freeBox__coCru {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__coCru > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__coCru > :global(.__wab_flex-container) > *,
.freeBox__coCru > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__coCru > :global(.__wab_flex-container) > picture > img,
.freeBox__coCru
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.freeBox__p3Mdz {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__p3Mdz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__p3Mdz > :global(.__wab_flex-container) > *,
.freeBox__p3Mdz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p3Mdz > :global(.__wab_flex-container) > picture > img,
.freeBox__p3Mdz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.text___9HMe {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  font-weight: 600;
}
.text__im41R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
}
.centersApi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__l84Dy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg__kUErt {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.text__q12TZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
}
.drCenters:global(.__wab_instance) {
  max-width: 100%;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.button:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__oKyrr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__s8Zhz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__rUim5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__tfVl3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.freeBox__r1Pkt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 0px;
}
.text___37X29 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
}
.freeBox__rjW9A {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__rjW9A > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-Fv8-L_kN-2Ma));
  width: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__rjW9A > :global(.__wab_flex-container) > *,
.freeBox__rjW9A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rjW9A > :global(.__wab_flex-container) > picture > img,
.freeBox__rjW9A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Fv8-L_kN-2Ma);
}
.year:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.month:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.vacationApi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__rvYZl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__lxDgP {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.text__qU1YR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  text-align: center;
  min-width: 0;
}
.freeBox__wzSnE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 20rem;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: 8px;
  border: 1px solid #d3d3d3;
}
.text__zEsQz {
  position: relative;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
}
.freeBox__pQyuJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__dc1Y {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 6rem;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: var(--token-Fv8-L_kN-2Ma);
  border: 1px solid #d3d3d3;
}
.freeBox__dc1Y > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__dc1Y > :global(.__wab_flex-container) > *,
.freeBox__dc1Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dc1Y > :global(.__wab_flex-container) > picture > img,
.freeBox__dc1Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.text__hPbEr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
}
.text___28Ia {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-VrIY9r5RDQZ_);
  color: var(--token-u3OudfMChOo3);
  min-width: 0;
}
