.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  background: #ffffff;
  justify-self: flex-start;
  padding-bottom: 0px;
  row-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
  min-height: 0;
}
.fragmentPopover:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__cxKPj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  background: #ebeff8;
  width: 100%;
  min-width: 0;
  border-radius: 6px;
  padding: var(--token-vMUQwr5Jto1d);
}
.freeBox__zu23P {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  min-height: 0;
}
.lineClamp:global(.__wab_instance) {
  max-width: 100%;
  width: 140px;
  flex-shrink: 0;
}
.text__bVBru {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-6NbVMeD6zQwn);
  text-align: right;
  align-self: flex-start;
  text-decoration-line: none !important;
  user-select: text;
  left: auto;
  top: auto;
  z-index: 1;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bVBru {
    width: 100%;
    text-align: right;
    left: auto;
    top: auto;
    min-width: 0;
  }
}
.svg__cx4Z5 {
  position: relative;
  object-fit: cover;
  max-width: 25%;
  color: var(--token-qtgMaW0djcWt);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.svg__ie7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.freeBox__jC2P {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 391px;
  height: auto;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #00000033;
  background: white;
  cursor: pointer;
  max-height: 400px;
  overflow: auto;
  row-gap: var(--token-vMUQwr5Jto1d);
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #e2e8f0;
}
.drCenter__ljbmU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  transition-property: all;
  transition-duration: 1s;
  min-height: 35px;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
}
.svg__wyfxC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__q9Pw4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.drCenter__j931:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  transition-property: all;
  transition-duration: 1s;
  min-height: 30px;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__an9Et {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text___5Rh0U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.activeVisitOnline:global(.__wab_instance) {
  max-width: 100%;
}
.activeOfficeBooking__jmJal:global(.__wab_instance) {
  max-width: 100%;
}
.activeOfficeBooking__huSrL:global(.__wab_instance) {
  max-width: 100%;
}
.apiCheckActivation:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__uPuzs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__qRmfL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
