.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f4f8fb;
  padding-bottom: 0px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.header {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 3.5rem;
  max-width: 100%;
  justify-self: flex-start;
  background: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px var(--token-UIMkdd_bvvx_);
  border-bottom: 1px solid #e5e9f0;
}
.text___4WCg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  font-weight: 700;
  min-width: 0;
}
.freeBox__sdfL {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.freeBox__jk893 {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  margin-top: 3rem;
  box-shadow: none;
  border-radius: var(--token-fhaz6q6bl-fW);
  padding: 0px 0px var(--token-Fv8-L_kN-2Ma);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jk893 {
    padding-top: var(--token-Fv8-L_kN-2Ma);
    margin: 0rem 0px 0px;
  }
}
.activationProcess__nu8JB:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__z09N {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__ckXxY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__y7IX8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  padding-top: 0px;
  min-width: 0;
}
.activationProcess__dt38D:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__oUqeq {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 25px 50px -12px #cbd5e1;
  border-radius: var(--token-fhaz6q6bl-fW);
  padding: var(--token-W6cMLA0AZVBO);
  margin: 0rem 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oUqeq {
    margin: 0rem 0px 0px;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__aR1V {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: var(--token-Fv8-L_kN-2Ma);
  margin-bottom: var(--token-Fv8-L_kN-2Ma);
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__aR1V > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-Fv8-L_kN-2Ma));
  height: calc(100% + var(--token-Fv8-L_kN-2Ma));
}
.freeBox__aR1V > :global(.__wab_flex-container) > *,
.freeBox__aR1V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aR1V > :global(.__wab_flex-container) > picture > img,
.freeBox__aR1V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Fv8-L_kN-2Ma);
}
.img {
  object-fit: cover;
  max-width: 100%;
  margin-top: calc(0px + var(--token-Fv8-L_kN-2Ma)) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 263px;
  height: 246px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.text__jE7S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-B10hUni6jzpI);
  min-width: 0;
}
.text__mMkGq {
  position: relative;
  width: 360px;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.button__zqRvf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__k804G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__epMw0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___8X59 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__pieEn {
  font-size: var(--token-Aauc__D_kWJe);
  padding-right: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pieEn {
    padding-right: 107px;
  }
}
.freeBox__obKil {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 554px;
  height: auto;
  max-width: 100%;
  padding: var(--token-HnZ71H022VEt) 0rem;
}
.freeBox__obKil > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__obKil > :global(.__wab_flex-container) > *,
.freeBox__obKil > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__obKil > :global(.__wab_flex-container) > picture > img,
.freeBox__obKil
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__obKil {
    padding-right: 6.25rem;
    padding-left: 6.25rem;
  }
}
.freeBox___1FXwe {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__m5EPg {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__m5EPg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__m5EPg > :global(.__wab_flex-container) > *,
.freeBox__m5EPg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m5EPg > :global(.__wab_flex-container) > picture > img,
.freeBox__m5EPg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.svg__aHmpq {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.text__ciUwk {
  width: auto;
  height: auto;
  max-width: 100%;
}
.h6__juQd {
  width: auto;
}
.text___0Up {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  min-width: 0;
}
.freeBox__hgw9Z {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox___9MDj {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___9MDj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox___9MDj > :global(.__wab_flex-container) > *,
.freeBox___9MDj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9MDj > :global(.__wab_flex-container) > picture > img,
.freeBox___9MDj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.svg__hG6Mu {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.text__gBxSh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  min-width: 0;
}
.freeBox__lMllX {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox___915PP {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___915PP > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox___915PP > :global(.__wab_flex-container) > *,
.freeBox___915PP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___915PP > :global(.__wab_flex-container) > picture > img,
.freeBox___915PP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.svg__rtEw7 {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.text___8Ycgx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  min-width: 0;
}
.freeBox__o1S1V {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__pdxuw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__oi49J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  padding-top: 0px;
  min-width: 0;
}
.freeBox__njLr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___3LYcg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__ax3E0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  padding-top: 0px;
  min-width: 0;
}
.freeBox___5DX5Y {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__sO3M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  min-width: 0;
}
.freeBox__fMwvv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__zfOtv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___84In {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  padding-top: 0px;
  min-width: 0;
}
.freeBox__zCGx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__l886H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__vIxez {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  position: relative;
  min-width: 0;
}
.freeBox__t7LFe {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__t7LFe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - var(--token-vMUQwr5Jto1d));
  width: calc(100% + var(--token-vMUQwr5Jto1d));
  margin-top: calc(0px - var(--token-vMUQwr5Jto1d));
  height: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__t7LFe > :global(.__wab_flex-container) > *,
.freeBox__t7LFe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t7LFe > :global(.__wab_flex-container) > picture > img,
.freeBox__t7LFe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-vMUQwr5Jto1d);
  margin-top: var(--token-vMUQwr5Jto1d);
}
.button___8Qu9G:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__p7VDs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wbFgs {
  padding-top: 0px;
}
.svg___82QdX {
  object-fit: cover;
  max-width: 100%;
  color: #ef7c01;
  width: 24px;
  height: 24px;
}
.button__n1GX3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__rkiSb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__lmXhH {
  object-fit: cover;
  max-width: 100%;
  color: #24a1de;
  width: 24px;
  height: 24px;
}
