.hamyar {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: stretch;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 16px;
}
.hamyar > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hamyar > * {
    grid-column: 4;
  }
}
.freeBox___4Vw9F {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 430px;
  height: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-height: 0;
  border-radius: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4Vw9F {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    display: flex;
  }
}
.social {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
.apps:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__nmtaY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__iGI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.insta {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__cf2I3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 3px;
  min-width: 0;
  padding: 8px;
}
.appSwitch:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.handleInput:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.button___2VOdx:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__rtyBq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___2ZTNz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__pmLau:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__tecAm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__wkRWn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___6R37X {
  object-fit: cover;
  max-width: 100%;
  width: 28px;
  color: var(--token-rjAIDXsTjJqJ);
  margin-top: 13px;
  margin-bottom: 13px;
  height: 1em;
}
.freeBox__phTya {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__phTya {
    display: flex;
  }
}
.svg__ffBhX {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 1em;
  flex-shrink: 0;
}
.text__yfJq7 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 400;
}
.user:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__q4YcQ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  justify-content: flex-start;
  align-items: center;
  row-gap: 15px;
  min-width: 0;
}
.svg__gyrcp {
  object-fit: cover;
  max-width: 100%;
  width: 38px;
  height: 38px;
  flex-shrink: 0;
}
.text___8CfZb {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 500;
}
.apiGetSocialApp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___9ZKb6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__dp66L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
