.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  justify-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.rootnoBar {
  width: 28px;
  justify-self: flex-start;
}
.rootnoBar > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
}
.freeBox__gZcmw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 70px;
  max-width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gZcmw {
    overflow-x: hidden;
    overflow-y: hidden;
    min-width: 30px;
    height: 55px;
  }
}
.freeBox__jzBi5 {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  top: 0;
  left: auto;
  right: 0;
  min-width: 0;
  padding: 0px;
}
.text__uQdQp {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  font-size: var(--token-aKAz0S7Xi5RN);
  white-space: pre;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uQdQp {
    font-size: 0.5rem;
  }
}
.text__jpEeO {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-zGjeYJZOhQzx);
  top: auto;
  font-size: 0.7rem;
  white-space: pre;
  right: auto;
  font-weight: 300;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jpEeO {
    font-size: 0.37rem;
  }
}
.freeBox__i1Uj {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 30px;
  padding: 0px;
}
.freeBox__i1Uj > :global(.__wab_flex-container) {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__i1Uj > :global(.__wab_flex-container) > *,
.freeBox__i1Uj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i1Uj > :global(.__wab_flex-container) > picture > img,
.freeBox__i1Uj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.freeBox___3W48A {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 30px;
  height: 30px;
  max-width: 100%;
  background: var(--token-Y3HOiwZmAcAF);
  flex-shrink: 0;
  border-radius: 1000px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3W48A {
    min-width: 30px;
  }
}
.freeBoxisCompleted___3W48AtStC {
  background: var(--token-JDvyxAtm9ONK);
  justify-content: center;
  align-items: center;
}
.freeBoxisCurrent___3W48Anv8Ye {
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: none;
  flex-shrink: 0;
}
.svg__ksZez {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  height: 1em;
}
.svgisCompleted__ksZeZtStC {
  display: block;
}
.svg__zE9FO {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-n7oRIobFxMYD);
  height: 1em;
}
.svgisCurrent__zE9FOnv8Ye {
  display: none;
}
.freeBox__qkl7X {
  flex-direction: column;
  position: relative;
  width: 26px;
  height: 26px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  left: auto;
  top: auto;
  background: var(--token-Y3HOiwZmAcAF);
  flex-shrink: 0;
  display: none;
  border-radius: 1000px;
  padding: 0px;
}
.freeBoxisCurrent__qkl7Xnv8Ye {
  left: auto;
  top: auto;
  display: flex;
}
.freeBox__gy5Pr {
  flex-direction: column;
  position: absolute;
  width: 30px;
  height: 30px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  left: 50%;
  bottom: 50%;
  top: 0%;
  right: 0%;
  flex-shrink: 0;
  display: none;
  border-radius: 1000px;
  padding: 0px;
  border: 1px solid var(--token-JDvyxAtm9ONK);
}
.freeBoxisCurrent__gy5Prnv8Ye {
  display: flex;
}
.freeBox__bPTmF {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 4px;
  max-width: 100%;
  background: var(--token-Y3HOiwZmAcAF);
  min-width: 0;
  border-radius: 1000px;
  padding: 0px;
}
.freeBoxisCompleted__bPTmFtStC {
  background: var(--token-JDvyxAtm9ONK);
}
.freeBoxisCurrent__bPTmFnv8Ye {
  background: var(--token-JDvyxAtm9ONK);
}
.freeBoxnoBar__bPTmFaWmeZ {
  display: flex;
}
