.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__opJv9 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__opJv9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - var(--token-vMUQwr5Jto1d));
  width: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__opJv9 > :global(.__wab_flex-container) > *,
.freeBox__opJv9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__opJv9 > :global(.__wab_flex-container) > picture > img,
.freeBox__opJv9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-vMUQwr5Jto1d);
}
.text__oouQj {
  position: relative;
  width: 89px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
}
.freeBox__w8JD {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__w8JD > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__w8JD > :global(.__wab_flex-container) > *,
.freeBox__w8JD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w8JD > :global(.__wab_flex-container) > picture > img,
.freeBox__w8JD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.text___5Eyf5 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.svg__qn5Rs {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__waZqr {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
