.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-W6cMLA0AZVBO);
  min-width: 0;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___5DbTo {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-vMUQwr5Jto1d);
  min-width: 0;
  padding: 0px;
}
.freeBox__mlqCk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__ksXdr {
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 24px;
  color: var(--token-u3OudfMChOo3);
  flex-shrink: 0;
}
.text__iwAnc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 400;
  min-width: 0;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__epmPd {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__vcr5X {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  flex-shrink: 0;
  height: 1em;
}
.text__wi8Yq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__zYO {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  row-gap: var(--token-W6cMLA0AZVBO);
  min-width: 0;
}
.freeBox__huZso {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #fffcf5;
  row-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
  padding: var(--token-UIMkdd_bvvx_);
}
.text___1Kj1M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 600;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___1Kj1M {
    color: var(--token-u3OudfMChOo3);
  }
}
.text__j1PZ2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 400;
  color: #747c90;
  min-width: 0;
}
.text__iieff {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__jftlG {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-vMUQwr5Jto1d);
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
.text___4Hz4A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___4Hz4A {
    color: var(--token-u3OudfMChOo3);
  }
}
.eitaa:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__nRdhV {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  border-radius: 8px;
  padding: 4px;
}
.apiCheckEitaaUsername:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___56K8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__z0YH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__miUPf {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #fef9c380;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__miUPf {
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(#f7f2c280, #f7f2c280), #ffffff;
    border-radius: 8px;
  }
}
.text__wzLe8 {
  height: auto;
  max-width: 100%;
  color: var(--token-CVFO6fzYsS1_);
  width: auto;
  font-size: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wzLe8 {
    font-size: 12px;
  }
}
.popover:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__ai5Xp {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-CVFO6fzYsS1_);
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__ai5Xp {
    width: 23px;
  }
}
.freeBox__e5P7F {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #f1f5f980;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.text__iXidD {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-qtgMaW0djcWt);
  background: none;
  font-size: 12px;
  font-weight: 300;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__iXidD {
    font-size: 12px;
    font-weight: 300;
    width: 370px;
  }
}
.freeBox__ylzte {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-vMUQwr5Jto1d);
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
.text__wYuAl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wYuAl {
    color: var(--token-u3OudfMChOo3);
  }
}
.whatsapp:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__b6VXx {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__ug2U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-6NbVMeD6zQwn);
  min-width: 0;
}
.freeBox__dOtV {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: var(--token-_c276Gs_1FIE);
  min-width: 0;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: var(--token-vMUQwr5Jto1d);
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dOtV {
    justify-content: center;
    align-items: center;
    column-gap: var(--token-_c276Gs_1FIE);
    row-gap: 0px;
  }
}
.freeBox__awmco {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-fhaz6q6bl-fW);
  padding: 0px;
}
.text__d7MSz {
  width: auto;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  font-weight: 400;
  font-size: var(--token-6NbVMeD6zQwn);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__d7MSz {
    color: var(--token-u3OudfMChOo3);
  }
}
.svg__acy02 {
  object-fit: cover;
  max-width: 100%;
  color: #3f4079;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
._switch:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__z1X7S:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__inO3R {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__zmm1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__mrLyj:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__r8Hmp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__cEve9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
