.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 7px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.rootselected {
  background: #ebeff8;
}
.text__di5Xi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-RxWJli6xyBzp);
  font-weight: 600;
  min-width: 0;
  margin: 3px;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-fhaz6q6bl-fW);
  min-width: 0;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-4nkHJBlHYFDY);
  height: 1em;
}
.lineClamp:global(.__wab_instance) {
  max-width: 100%;
  width: 80%;
}
.text__lmOyB {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-xegfwFg3Spe4);
  font-weight: 400;
  font-size: 12px;
  text-align: right;
}
