.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-fhaz6q6bl-fW);
  min-width: 0;
}
.workhoursApi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__mpXEo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__r0FIp {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox__weZzw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__aA4Zf {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-u3OudfMChOo3);
  font-size: var(--token-6NbVMeD6zQwn);
}
.freeBox__v0MpJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-fhaz6q6bl-fW);
  min-width: 0;
  padding: 0px;
}
.freeBox___6GKnj {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.durationOfWorkhour:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__ytpcb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-BU1JCAY6hntB);
}
.text___9Lhvh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__kIPq {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Y3HOiwZmAcAF);
}
.workhours:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.button__sTmVh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__tpbUr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__gFc23 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__ybXi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__lqOr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__udcCy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__uffMi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__zuyaT {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
  padding: 8px;
}
.text__gmle8 {
  margin-left: 1px;
  margin-right: 1px;
  text-align: center;
  font-weight: 800;
}
.freeBox__yPjAx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-vMUQwr5Jto1d);
  min-width: 0;
  padding: 8px;
}
.freeBox__qkWxr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-BU1JCAY6hntB);
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__jDPyX {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 8px;
  border: 1px solid var(--token-BU1JCAY6hntB);
}
.text__tmHNr {
  position: relative;
  width: 120px;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  flex-shrink: 0;
}
.text__dXgyH {
  position: relative;
  width: 70px;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  flex-shrink: 0;
}
.freeBox___9A26S {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
}
.button__y7G8J:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  display: none;
}
.svg__ibObl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ow0Tl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__jJr2O:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__gU6JJ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__eHu2U {
  color: var(--token-CVFO6fzYsS1_);
}
.svg__nQQf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__vdR6H:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__gkjKo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__me9Rf {
  color: var(--token-asw1kyhN8xsP);
}
.svg__jJkgI {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialogWarningWorkhoure:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__zhsRp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-vMUQwr5Jto1d);
  min-width: 0;
  padding: 8px;
}
.text___9XbmB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__wt3IU {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-_c276Gs_1FIE);
  min-width: 0;
  padding: 8px;
}
.button__sgmUq:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__za51M {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__q9RuA {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___8MTpg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__cj1Ts {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__tc5Y9 {
  text-align: center;
}
.svg__iudJf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
