.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  row-gap: var(--token-Fv8-L_kN-2Ma);
  min-width: 0;
}
.freeBox___9Qm6P {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 4px;
  min-width: 0;
  padding: 8px;
}
.text__uRmj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 4px;
}
.firstName:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  outline-style: none;
  outline-color: transparent;
  outline-offset: 0px;
  min-width: 0;
}
.text__oXAd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-WR9d568ToYeY);
  min-width: 0;
}
.text___6VPiQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-WR9d568ToYeY);
  min-width: 0;
}
.freeBox__tbLnE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 4px;
  min-width: 0;
  padding: 8px;
}
.text__zgckb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 4px;
}
.lastName:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  outline-style: none;
  outline-color: transparent;
  outline-offset: 0px;
  min-width: 0;
}
.text__x9Xb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-WR9d568ToYeY);
  min-width: 0;
}
.text__usnfV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-WR9d568ToYeY);
  min-width: 0;
}
